

#header .login-box {
  background:#E9EDF2;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  margin: 0;
  max-width: 355px;
  min-height: 290px;
  position: absolute;
  right: 63px;
  top: 70px;
}

.header_login .login_title
{
	padding: 10px 0;
}

.header_login .but_login
{
	padding: 0px 0 0;
}

.but_login input[type="submit"]
{
	background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
        background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
        border: 1px solid #0EA8C2;
}

.header_login .login_form_inner
{
	padding: 20px 20px;
}

.header_login_btn {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 63px;
  top: 30px;
}

.header_login_btn span
{
	display: block;
	font-size: 15px;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
	border:1px solid #0EA8C2;
	color: #FFF;
	font-family: 'Open Sans',sans-serif;
	padding: 0px 20px 4px;
	cursor: pointer;
	line-height: 25px;
}

.landing_search {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 6px;
  display: table;
  height: 46px;
  margin:30px auto 30px;
  max-width: 550px;
  padding: 4px;
  width: 100%;
}

.landing_search input[type="submit"]
      {
        float: right;
        cursor: pointer;
        background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
        background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
        border-radius: 6px;
        color: #FFF;
        border:none;
        font-family: lucida sans unicode, Arial;
        font-size: 16px;
        text-shadow:1px 0px 0px #0D879E;
        border: 1px solid #0EA8C2;
        font-family: 15px;
        height: 38px;
        width: 140px;
        margin: 4px 4px 0px 0px;
      }

.landing_search .home-php {
  float: left;
  margin: 3px 0 0 4px;
  width: 72%;
}

.landing_body,
.new_bg
{
	background: url(../images/ncc_bg.jpg) top center no-repeat fixed #1E4564; 
}

.landing_title {
  color: #FFFFFF;
  font-family: lucida sans unicode,Arial;
  font-size: 37px;
  line-height: 42px;
  text-align: center;
}

.landing_dis {
  color: #FFFFFF;
  font-family: lucida sans unicode,Arial;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 0px;
  text-align: center;
}

.landing_body #footer
{
	
	bottom: 0px;
	width: 100%;
}

body.home_page #footer
{
  position: fixed;
  z-index: 9999;
}

#search_home a.ui-button
{
	display: none;
}

.landing_body .but_sty1
{
	background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
    border-radius: 8px;
}

.search_listing
{
  display: block;
  margin:-30px -22px -22px -22px;
  
}

.search_listing ul
{
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.search_listing ul li
{
  display: block;
  background: url(../images/folder.png) 20px 28px no-repeat;
  border-top: 1px solid #ddd;
  margin:0px 0;
  padding:21px 22px 25px 83px;
}

/*.search_listing ul li.light
{
 background: url(../images/folder.png) 20px 27px no-repeat #EFF4F7;
}*/

.search_listing ul li h1
{
  font-size: 17px;
  display: block;
  margin: 0px 0px 3px 0px;
}

.search_listing ul li h1 a
{
  color: #0A498C;
}

.search_listing ul li:first-child
{
  
  
}

.search_listing ul li p
{
  font-size: 13px;
  font-family: arial;
  line-height: 18px;
  color: #333;  
}

.search_listing ul li p span
{
  font-weight: bold;
  margin: 0px 0px 0px 7px;
}

.search_listing ul li p span:first-child
{
  margin: 0px;
}

span.list_url {
  color: #777777;
  font-family: arial;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.listing_page_search
{
  float: left;
  margin: 0px;
  max-width: 1051px;
}

.listing_page_search .home-php {
  
  width: 85.5%;
}

.landing_image
{
  margin: 50px 0 0px;
  display: block;
  text-align: center;
}

.sub-new {
  margin: 0 0 0.4em;
 }

 #wrapper .ui-widget-content
 {
  background:#C8CED3;
    color: #FFF;
    border: none;
     height: 5px;
 }

 #scrollbar {
  margin: 0 0px 20px;
}

#scrollbar a.ui-slider-handle
{
  width: 100px !important;
  background: #0D9DB9;
  margin: 4px 0 0 -50px;
  border: none;
  height: 5px !important;
}

table.slider_table
{
  border: none;
}

table.slider_table tbody
{
  width: 100%;
}

table.slider_table tbody td {
  width: 50%;
  border: none;
  
  border-bottom: 1px solid #ddd;
  padding: 4px 14px;
}

table.slider_table tbody td p
{
  padding: 0px;
}

.active_slide table.slider_table tbody td{
  
  padding: 6px 10px;
}


.ui-jcoverflip--item > div
{
  overflow: hidden;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}

.business_card
{
  display: block;
  background: #FFF;
  position: relative;
  margin: 7px;
  border: 1px dashed #C8CED3;
  padding: 10px;
}

.business-box .service_box.subRow.direct.card
{
  min-height: 190px;  
  background: #FAFAFA;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 11px 23px 16px;
}

.business-box .service_box.subRow.direct.card .enterTitle.light {
  background: #0D9DB9;
  color: #FFF;
  font-weight: bold;
  font-family: arial;
  font-size: 13px;
}

.business-box .service_box.subRow.direct.card .enterTitle.light p
{
  font-weight: bold;
  font-size: 13px;
}

.business-box .service_box.subRow.direct.card .enterTitle.dark
{
  background: #FAFAFA;
  height: 119px;
  overflow-y: auto;
}

.listing_banner {
  margin: -26px -22px 30px;
  position: relative;
}

.tab_content_holder_inner table.dir_table
{
  width: 100%;
  border:none; 
}

.dir_table tbody
{
  width: 100%;
}

.dir_table tr td,
.dir_table tr th
{
  border: none;
  padding:10px 25px;
}

.dir_table tr th
{
  background: #0D9DB9;
  font-size: 13px;
  font-family: arial;
}

.dir_table_main
{
  display: block;
  margin: -30px -22px 0;
}

.business_card
{
  font-size: 13px;
  font-family: arial;
}

.bus_phone
{
  display: block;
  color: #ccc;
  clear: both;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  margin: 0px 0px 14px 0px;
  transition: color 0.5s;
}

span.bus_email
{
  color: #999;
  transition: color 0.5s;
}

.active_slide .bus_phone
{
  color: #777;
  transition: color 0.5s;
}

.active_slide span.bus_email
{
  color: #555;
  transition: color 0.5s;
}

.bus_title
{
  display: block;
  padding: 4px 0px 16px;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  color: #2EBAD3;
  text-transform:capitalize;
  text-align: center;
  transition: font-size 0.5s, padding 0.5s, color 0.5s, line-height 0.5s;
}

.active_slide .bus_title
{
  color: #0D9DB9;
  font-size: 18px;
  line-height: 20px;
  padding: 18px 0px 27px;
  transition: font-size 0.5s, padding 0.5s, color 0.5s, line-height 0.5s;
}

.bus_address
{
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  background: #f9f9f9;
  padding: 6px 20px;
}

.active_slide .bus_address
{
  color: #666;
  background: #f6f6f6;
}


.back-btn {   
    margin: 0;
    padding: 0;
    position: absolute;
    right: 235px;
    top: 30px;
  }

.back-btn span
{
 /* display: block;
  font-size: 15px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
  border:1px solid #0EA8C2;
  color: #FFF;
  font-family: 'Open Sans',sans-serif;
  padding: 0px 20px 4px;
  cursor: pointer;
  line-height: 25px;*/
  line-height: 1px;

}

.back-btn img {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


.baner-contet {
  position: absolute;
  top: 35%;
  left: 20px;
}

.baner-contet h1 {
  background: url(../images/new-icn.png) no-repeat scroll left top rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 37px;
  line-height: 32px;
  padding: 30px 0 30px 100px;
}

.business-box .border-txt.bottom {position: relative;}

.sub-new.changedbtn {
  position: absolute;
  right: 15px;
  top: -15px;
}

.main-row.terms {
  width: 40%;
}
