#header .login-box {
  background:#E9EDF2;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  margin: 0;
  max-width: 355px;
  min-height: 290px;
  position: absolute;
  right: 63px;
  top: 70px;
  z-index: 100;
}

.header_login .login_title
{
	padding: 10px 0;
}

.home_page {
  padding-bottom: 50px;
}

.header_login .but_login
{
	padding: 0px 0 0;
}

.but_login input[type="submit"]
{
/*	background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
        background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
        border: 1px solid #0EA8C2;*/
        border: none;
        background: #009999;
}

.but_login input[type="submit"]:hover {
  background: #0da9ab;
}

.header_login .login_form_inner
{
	padding: 20px 20px;
}

.header_login_btn {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 63px;
  top: 22px;
}

.header_login_btn span
{
background: #009999;
color: #fff;
cursor: pointer;
display: block;
font-family: "Open Sans",sans-serif;
font-size: 14px;
/*font-style: italic;*/
line-height: 28px;
padding: 4px 16px;
margin-bottom: 10px;
border-radius: 4px;
text-align: center;
}
.header_login_btn span:hover {
  background: #000066;
}

.landing_search {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 6px;
  /*display: table;*/
  display: block;
  height: 46px;
  margin:-20px auto 30px;
  max-width: 550px;
  padding: 4px;
  width: 100%;
}

.landing_search input[type="submit"]
      {
        float: right;
        cursor: pointer;
        background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
        background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
        background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
        border-radius: 6px;
        color: #FFF;
        border:none;
        font-family: lucida sans unicode, Arial;
        font-size: 16px;
        text-shadow:1px 0px 0px #0D879E;
        border: 1px solid #0EA8C2;
        font-family: 15px;
        height: 38px;
        width: 140px;
        margin: 4px 4px 0px 0px;
      }

.landing_search .home-php {
  float: left;
  margin: 3px 0 0 4px;
  width: 72%;
}

.landing_body,
.new_bg
{
	/*background: url(../images/ncc_bg.jpg) top center no-repeat fixed #1E4564; */
  background: #009999;
}

.landing_title {
  color: #FFFFFF;
  font-family: lucida sans unicode,Arial;
  font-size: 37px;
  line-height: 42px;
  text-align: center;
}

.landing_dis {
  color: #FFFFFF;
  font-family: lucida sans unicode,Arial;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 0px;
  text-align: center;
}

.landing_body #footer
{
	
	bottom: 0px;
	width: 100%;
}

body.home_page #footer
{
  position: fixed;
  z-index: 9999;
}

#search_home a.ui-button
{
	display: none;
}

.landing_body .but_sty1
{
	background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
    border-radius: 8px;
}

.search_listing
{
  display: block;
  margin:0px -22px -22px -22px;
  
}

.search_listing ul
{
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.search_listing ul li
{
  display: block;
  background: url("../images/folder.png") 20px 28px no-repeat;
  border-top: 1px solid #ddd;
  margin:0px 0;
  padding:21px 22px 25px 83px;
}

/*.search_listing ul li.light
{
 background: url(../images/folder.png) 20px 27px no-repeat #EFF4F7;
}*/

.search_listing ul li h1
{
  font-size: 17px;
  display: block;
  margin: 0px 0px 3px 0px;
}

.search_listing ul li h1 a
{
  color: #0A498C;
}

.search_listing ul li:first-child
{
  
  
}

.search_listing ul li p
{
  font-size: 13px;
  font-family: arial;
  line-height: 18px;
  color: #333;  
}

.search_listing ul li p span
{
  font-weight: bold;
  margin: 0px 0px 0px 7px;
}

.search_listing ul li p span:first-child
{
  margin: 0px;
}

span.list_url {
  color: #777777;
  font-family: arial;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.listing_page_search
{
  float: left;
  margin: 0px;
  max-width: 1051px;
}

.listing_page_search .home-php {
  
  width: 85.5%;
}

.landing_image
{
  margin: 30px auto;
  display: block;
  text-align: center;
}

.sub-new {
  margin: 0 0 0.4em;
 }

 #wrapper .ui-widget-content
 {
  background:#C8CED3;
    color: #FFF;
    border: none;
     height: 10px;
 }

/* #scrollbar {
  margin: 0 0px 20px;
}*/

#scrollbar a.ui-slider-handle
{
  width: 100px !important;
  background: #009999;
  margin: 4px 0 0 -50px;
  border: none;
  height: 10px !important;
}

table.slider_table
{
  border: none;
}

table.slider_table tbody
{
  width: 100%;
}

table.slider_table tbody td {
  width: 50%;
  border: none;
  
  border-bottom: 1px solid #ddd;
  padding: 4px 14px;
}

table.slider_table tbody td p
{
  padding: 0px;
}

.active_slide table.slider_table tbody td{
  
  padding: 6px 10px;
}


.ui-jcoverflip--item > div
{
  overflow: hidden;
  position: relative;
}

.business_card
{
  display: block;
  background: #FFF;
  position: relative;
 /* margin: 7px;*/
  border: 3px solid #0D9DB9;
  /*border: 1px dashed #C8CED3;*/
  padding: 10px;
}

.business-box .service_box.subRow.direct.card
{
/*  min-height: 190px; */
    min-height: 100px;
  background: #FAFAFA;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 11px 23px 16px;

    float: none;
    margin: 0 auto 23px;
    width: 80%;
}

.business-box .service_box.subRow.direct.card .enterTitle.light {
  background: #0D9DB9;
  color: #FFF;
  font-weight: bold;
  font-family: arial;
  font-size: 13px;
}

.business-box .service_box.subRow.direct.card .enterTitle.light p
{
  font-weight: bold;
  font-size: 13px;
}

.business-box .service_box.subRow.direct.card .enterTitle.dark
{
  background: #FAFAFA;
  height: 100px;
  overflow-y: auto;
}

/*.listing_banner {
  margin: -26px -22px 30px;
  position: relative;
}*/


.listing_banner {
  margin: 0px 0px 0px;
  position: relative;

}

.listing_banner img {
  border-radius: 6px;
  height: 130px;
  width :100%;
}

.tab_content_holder_inner.detail_page.banner-wrp {
  padding: 0;
}

.tab_content_holder_inner table.dir_table
{
  width: 100%;
  border:none; 
}

.dir_table tbody
{
  width: 100%;
}

.dir_table tr td,
.dir_table tr th
{
  border: none;
  padding:10px 25px;
}

.dir_table tr th
{
  background: #0D9DB9;
  font-size: 13px;
  font-family: arial;
}

.dir_table_main
{
  display: block;
  margin: -30px -22px 0;
}

.business_card
{
  font-size: 13px;
  font-family: arial;
}

.bus_phone
{
  display: block;
  color: #ccc;
  clear: both;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  margin: 0px 0px 14px 0px;
  transition: color 0.5s;
}

span.bus_email
{
  color: #999;
  transition: color 0.5s;
}

.active_slide .bus_phone
{
  color: #777;
  transition: color 0.5s;
}

.active_slide span.bus_email
{
  color: #555;
  transition: color 0.5s;
}

.bus_company
{
color: #2EBAD3;
display: block;
font-family: 'Open Sans',sans-serif;
font-size: 13px;
font-weight: 600;
line-height: 16px;
padding: 20px 0 0;
text-align: center;
text-transform: capitalize;
transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}
.active_slide .bus_company
{
color: #0D9DB9;
font-size: 18px;
line-height: 20px;
padding: 24px 0 5px;
transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
text-transform: capitalize;
}

.bus_name
{
color: #2EBAD3;
display: block;
font-family: 'Open Sans',sans-serif;
font-size: 11px;
font-weight: 600;
line-height: 16px;
padding: 5px 0;
text-align: center;
text-transform: capitalize;
transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}
.active_slide .bus_name
{
color: #0D9DB9;
font-size: 14px;
line-height: 20px;
transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}
.bus_title
{
color: #2EBAD3;
display: block;
font-family: 'Open Sans',sans-serif;
font-size: 9px;
font-weight: 600;
line-height: 16px;
padding: 0 0 5px;
text-align: center;
text-transform: capitalize;
transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}
.active_slide .bus_title
{
color: #0D9DB9;
font-size: 12px;
line-height: 20px;
transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}
.bus_address
{
  display: block;
  text-align: center;
  color: #999;
  font-size: 10px;
  line-height: 14px;
  background: #f9f9f9;
  padding: 6px 10px;
}

.active_slide .bus_address
{
  padding: 6px 20px;
  font-size: 13px;
  line-height: 18px;
  color: #666;
  background: #f6f6f6;
}


.back-btn {   
    margin: 0;
    padding: 0;
    position: absolute;
    right: 235px;
    top: 30px;
  }

.back-btn span
{
 /* display: block;
  font-size: 15px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
  border:1px solid #0EA8C2;
  color: #FFF;
  font-family: 'Open Sans',sans-serif;
  padding: 0px 20px 4px;
  cursor: pointer;
  line-height: 25px;*/
  line-height: 1px;

}

.back-btn img {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


.baner-contet {
  position: absolute;
  top: 16%;
  left: 20px;
   background: url(../images/new-icn.png) no-repeat scroll left top;

}

.baner-contet h1 {
 
  color: #FFFFFF;
  font-size: 37px;
  line-height: 32px;
  padding: 30px 0 30px 100px;
}

.business-box .border-txt.bottom {position: relative;}

.sub-new.changedbtn {
  position: absolute;
  right: 15px;
  top: -15px;
}

.main-row.terms {
  width: 40%;
}

.tab_content_holder.radius.search-page .listing_banner 

{
    margin: -22px -22px 30px;
    padding: 0 0 30px;
}

.terms-btns {
  clear: both;
  display: block;
  margin: 0 20px 20px;
}

.terms-btns input[type="button"], 
.terms-btns input[type="reset"] {
  background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
    border:0px none;
     box-shadow: none;
}


.terms-btns input[type="button"]:hover, 
.terms-btns input[type="reset"]:hover {
      background: -moz-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0D97B4), color-stop(100%, #13CDE4));
    background: -webkit-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: -o-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: -ms-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: linear-gradient(to bottom, #0D97B4 0%, #13CDE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D97B4', endColorstr='#13CDE4', GradientType=0);
    border:none;
    box-shadow: none;
}
.logo-title {
color: #fff;
font-family: open sans;
font-size: 36px;
font-style: italic;
font-weight: bold;
line-height: 36px;
position: relative;
text-align: center;
text-shadow: 2px 1px 3px #333333;
top: -137px;
}
.login-page .buy-sal{
  font-size: 36px;
  top: -220px;
}
.media-tour-main .buy-sal {
  top: -157px;
    font-size: 36px;
}
.coupon-page .buy-sal {
  top: -147px;
    font-size: 36px;
}

.register .buy-sal {
  top: -139px;
    font-size: 36px;
}
.promo-page .buy-sal {
  top: -106px;
    font-size: 36px;
}

.directory-page.sub-service .buy-sal {
  top: -140px;
    font-size: 36px;
}
.directory-page .buy-sal {
  top: -142px;
    font-size: 36px;
}
.terms-page .buy-sal {
  top: -139px;
    font-size: 36px;
}

.m-m .buy-sal {
  top: -137px;
    font-size: 36px;
}

.buy-sal {
  color: #d8d8d8;
  font-family: open sans;
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
  line-height: 36px;
  position: relative;
  text-align: center;
  text-shadow: 0px 2px 3px #505050;
  top: -230px;
}

.buy-sal span {
  font-weight: normal;
  display: block;
  font-size: 25px;
}

.how-to {
color: #fff;
font-family: open sans;
font-size: 22px;
position: relative;
text-align: center;
}

.how-to span {
  font-weight: normal;
  display: block;
  font-size: 19px;
}

.dir {
  background: none repeat scroll 0 0 #0ea8c2;
  border: 2px solid #e9edf2;
  border-radius: 100%;
  display: block;
  width: 120px;
  height: 120px;
  background:url(../images/earth.png) center center no-repeat  #0ea8c2;
  margin: 40px auto 0;
  display: none;
}
.free-member {
  background: none repeat scroll 0 0 #0000cc;
  border: 0 none;
  border-radius: 5px;
  color: #ffffff;
  font-family: open sans;
  font-weight: bold;
  margin: -70px auto 0;
  max-width: 330px;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  box-shadow: 0px 5px 9px #505050;
-moz-border-radius: 5px;
webkit-border-radius: 5px;
}
.free-member:hover {
  background: #1a1adc;
}

.free-member a {
color: #ffffff;
font-size: 22px;
font-style: italic;
font-weight: bold;
outline: 0 none;
text-decoration: none;
}
.register .login-box {
  margin-top: 30px;
  margin-bottom: 40px;
}

.register .user_pass .inputText {
  padding-left: 0px;
}
.forgot a {
  color:#999999;
  font-size:12px;
  font-weight:700;
}

.register .login-box {
  max-width: 700px;
}

.register .user_pass {
    background: none;
    border:none;
    border-radius:0;
    margin-top: 35px;
}

.register .inputText {
  background: none repeat scroll 0 0 #d8d8d8;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  margin-bottom: 18px;
}

.user_pass_left {
  float: left;
margin-right: 2%;
width: 49%;
}
.user_pass_right {
float: left;
width: 49%;
}
.f-m-a {
padding: 0 0 18px;
text-align: center;
}
.f-m-a img {
  width: 114px;
}

.register .login_title{
  font-size: 25px;
  padding: 63px 0 18px;
}

.register .but_login {
  text-align: right;
  padding-bottom: 35px;
}

.register .but_login input[type="submit"] {
  max-width: 200px;
}

.up-sub {
   float: left;
  margin-top: 40px;
}

.up-sub a
{
  display: block;
  font-size: 14px;
  border-radius: 4px;
  background: #009999;
 /*background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);*/
  border:none;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
  padding: 4px 16px;
  cursor: pointer;
  line-height: 28px;
  margin-bottom: 7px;
  text-align: center;
/*  font-style: italic;*/
}
.up-sub a:hover {
  background: #000066;
}
.do-not {
  position: absolute;
  right: 63px;
  margin-top: 5px;
  line-height: 13px;
  font-size: 13px;
  top: 83px;
  color: #fff;
}

.do-not input {
  margin-right: 7px;
  float: left;
}
.media-tour-main {
  background: none repeat scroll 0 0 #000066;
  border-radius: 6px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  margin: 20px auto 70px;
  max-width: 464px;
  min-height: 442px;
  position: relative;
  padding: 0 30px;
}
.media-tour .buy-sal {
border-bottom: 1px solid #d6d8db;
color: #666666;
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
padding: 22px 0 18px;
text-align: center;
font-style: normal;
margin-top: 0;
}
.media-tour .buy-sal span {
  margin-top: 0;
  font-size: 18px;
}

.media-box-main {
  margin: 18px auto 0;
  /*max-width: 472px;*/
}

.media-box {
  width: 150px;
  background: #2db5b5 ;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-align: center;
  padding: 15px 0;
  float: left;
  margin: 0 7px 7px 0;
}
.media-box.last {
  margin-right: 0;
}
.header_login_btn a {
  text-align: right;
}
.media-box img {
  margin-bottom: 10px;
}
.media-box span {
  color: #ffffff;
  display: block;
  font-family: open sans;
  font-size: 14px;
  line-height: 18px;
}
.directory-page .s-d-title {
/*border-bottom: 1px solid #d6d8db;*/
color: #fff;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
margin-top: 0;
padding: 22px 0 0;
text-align: center;
}
.s-d-title img {
  margin-right: 7px;
  margin-top: 2px;  
  margin-left: 15px;
}
.directory-box {
  max-width: 621px;
  width: 100%:;
  margin-top: 24px;
}

.s-one {
clear: both;
color: #fff;
font-family: open sans;
font-size: 13px;
font-style: normal;
margin: 0 auto;
max-width: 681px;
text-align: right;
width: 100%;
}
.dir-pic-b {
  background: none repeat scroll 0 0 #000066;
  border-radius: 7px;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -30px;
  padding: 20px;
  width: 100%;
}
.dir-pic {
border-radius: 7px;
max-width: 621px;
margin-top: 15px;
}
.dir-pic img {
  width: 600px;
  border-radius: 7px;
  min-height: 150px;
}
/*.sub-service .s-d-title {
  margin-top: 10px;
}*/
.n-of-s {
  margin: 10px auto 0;
  max-width: 621px;
}
.n-of-s-main {
  width: 100%;
  float: left;
}

.n-of-s-left {
  color: #fff;
  float: left;
  font-size: 14px;
  margin: 5px 0 10px;
}
.n-of-s-right {
  font-size: 14px;
  color: #fff;
  float: right;
  text-align: center;
  margin-top: 5px;
}
.n-of-s-right a {
  color: #000;
font-size: 12px;
width: 22px;
height: 22px;
line-height: 22px;
border-radius: 100%;
display: inline-block;
}
.n-of-s-right a:hover {
  background: #009999;
  color: #fff;
}
.sort-tab {
background: none repeat scroll 0 0 #000066;
border-radius: 7px;
color: #ffffff;
font-family: open sans;
font-size: 18px;
font-style: normal;
margin-top: 13px;
display: inline-block;
width: 100%
}

/*.back-header {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 63px;
  top: 115px;
}*/
.back-header {
  float: left;
    margin-top: 40px;
 
    padding-left: 10px;
}
.sort-tab span {
padding: 13px 10px 13px 15px;
font-size: 13px;
display: inline-block;
}
.sort-tab ul {
  margin: 0;
  padding: 0;
  float: right;
  display: inline-block;
}

.sort-tab ul li {
  float: left;
}
.sort-tab ul li a {
  color: #fff;
  font-size: 14px;
  padding: 13px 15px;
  display: block;
  border-right:1px solid #3d3da3 
}
.sort-tab ul li a:first {
   border-left:1px solid #1db8d3;
}
.sort-tab ul li a:hover, .sort-tab ul li a.activ {
  background: #009999;
}
.sort-tab ul li a.radius {
  border-radius: 0 7px 7px 0;
   border-right: 0;
}

.title-page {
  /*margin-top: 50px;*/
}

.title-page ul.tab_links .tab_link_active {
  border-radius: 7px;
  border-bottom: 0
}

.sub-service {
  margin: 0 auto;
max-width: 640px;
}

.directory-page .title-page {
  max-width: 681px;
  margin: 0 auto;
}

.s-d-main {
  background: none repeat scroll 0 0 #000066;
  border-radius: 6px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
  margin: 20px auto 10px;
  max-width: 621px;
  min-height: 265px;
  padding: 0 30px;
  position: relative;
}

.directory-page {
 /* margin-top: 50px;*/
}
.sub-service .s-d-title {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.sub-service .s-d-title span {
float: right;
font-size: 15px;
font-weight: normal;
line-height: 15px;
margin-left: 13px;
margin-top: 4px;
}

.sub-service .s-d-title span input {
float: left;
margin-right: 4px;
margin-top: 1px;
}

.s-d-title.n-servi {
font-size: 15px;
font-weight: normal;
margin-top: 10px;
text-align: left;
}

.dir-list {
  color: #fff;
  margin-top: 10px;
}

.dir-list span {
float: left;
font-size: 14px;
padding: 3px 0;
width: 33%;
}
.dir-list input[type="submit"] {
clear: both;
float: right;
}

.my-dir-list {
  margin-top: 10px;
}

.my-dir-list li {
color: #ffffff;
float: left;
font-size: 14px;
width: 33%;
margin: 4px 0;
background:url("../images/arrow.jpg") no-repeat scroll 0 5px;
padding-left: 20px;
background-size: 11px auto;
}

.my-dir-list li a {
  color: #ffffff;
  float: left;
  width: 56%;
}

.my-ser-list li {
color: #ffffff;
float: left;
font-size: 14px;
width: 100%;
margin: 4px 0;
background:url("../images/arrow.jpg") no-repeat scroll 0 5px;
padding-left: 20px;
background-size: 11px auto;
}

.my-dir-dlt-btn {
  width: auto;
  margin-right: 14px;
  float: right;
}

.my-dir-list .my-dir-dlt-btn > a {
  width: auto;
}

.my-dir-dlt-btn a {
  background: #009999;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  padding: 2px 10px;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
}

.sub-service .tab_link_active span,
.directory-page .tab_link_active span {
  padding: 14px 13px;
}

.title-page-media {
  margin: 100px auto 0;
  max-width: 526px;
}

.d-s-panel {
background: #d1d1d1;
border-radius: 7px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
box-sizing: border-box;
display: inline-block;
margin: 10px 0;
padding: 8px 15px;
width: 100%;
}

.promo-dropdown {
  float: left;
  width: 25%;
}

.promo-search-res {
float: left;
font-size: 15px;
margin-top: 10px;
text-align: center;
text-transform: uppercase;
width: 50%;
color: #666;
}

.s-d-title > form {
  display: inline;
}

.promo-pagination {
float: left;
margin-top: 4px;
width: 25%;
}

.promo-table-view {
  width: 100%;
  background: #d1d1d1;
  border-radius: 7px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
display: inline-block;
}

.promo-table-view-main {
box-sizing: border-box;
padding: 7px 15px;
float: left;
width: 100%;
}
.promo-table-view-left {
  float: left;
  padding-top: 6px;
  width: 97%;
  font-size: 13px;
}
.promo-table-view-right {
  float: right;
  width: 3%;
}

.promo-table-view-main-bg{
  background: #e5ebf0;
}

.save-25 {
  background:#009999;
  border-radius: 7px 7px 0 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.active_slide .save-25 {
  background:#009999;
}
.detail-coupon p {
  width: 100% !important;
  margin: 0 !important;
  text-align: center;
  font-size: 13px !important;
}

.detail-coupon .rank-all {
  text-align: center;
  margin-top: 10px;
}

.detail-coupon h3 {
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
}
.barcode {
margin-top: 12px;
text-align: center;
}
.barcode img {
  width: 90%;
  height: 40px;
}
.info {
  margin: 10px -12px -12px;
  background: #009999;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0
}

.info a {
  text-decoration: none;
  color: #fff;
}

.info a:hover  {
  text-decoration: none;
  color: #fff;
}
 
.m-c-p #flip {
  height: 330px;
}

.all-header-box .s-d-main {
  max-width: 342px;
  min-height: 115px;
  padding: 10px;
}

.header-directory-box .directory-box {
  clear: both;
  float: left;
}

.all-header-box.header-directory-box {
  margin-top: 0;
}

.all-header-box.header-directory-box  .media-box{
background: none;
border-right: 1px solid #21a9a9;
padding: 8px 0 6px;
width: 78px;
border-radius: 0;
margin: 0;
}

.all-header-box.header-directory-box .media-box:hover,
.all-header-box.header-directory-box a.activ .media-box
{
  background:#000066;
}

.all-header-box.header-directory-box  .media-box.last {
  border-right:0; 
}

.all-header-box.header-directory-box .directory-box {
  margin-top: 4px;
  background: #009999;
    border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.all-header-box.header-directory-box .media-box img {
  margin-bottom: 4px;
  width: 27px;
}
.all-header-box.header-directory-box .media-box span {
  line-height: 13px;
  margin-top: 3px;
}

.all-header-box .directory-box {
  margin-top: 10px;
}



.all-header-box {
/*  display: inline-block;
  float: right;
  margin-right: 65px;*/
  margin-top: 45px;
}

.all-header-box .s-d-title {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}


.all-header-box .media-box {
  width: 80px;
  padding: 10px 0;
}

.all-header-box .media-box img {
  width: 28px;
  margin-bottom: 7px;
}

.all-header-box .media-box span {
  font-size: 12px;
  line-height: 13px;
}
.search-page {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;  
}
.search-div {

}
.search-div-left {
  display: inline-block;
  width: 35.5%;
}
.search-div-middle {
  display: inline-block;
  width: 22%;
}
.search-div-right {
  display: inline-block;
  width: 40%;
}
.search-div-left span, .search-div-middle span, .search-div-right span {
  font-weight: bold;
}

.search-div-left div, .search-div-middle div .search-div-right div {
  margin: 3px 0;
}


