#header {
	min-height: 95px;
}
.headRow {
	max-width: 80%;
}
#footer {
	min-height: 32px;
}
.copyrights{
	line-height: 20px;
	padding: 6px 0;		
}
.logo {
  margin: 0 auto;
  max-width: 376px;
  padding: 38px 10px 0;
  width: auto;
}
.logo > img {
    height: auto !important;
    max-width: 100%;
}
.download_box {
  margin: 100px auto 0;
  width: 200px;
}

.download_box a {
display: block;
text-align: center;
}

.download_box span {
  float: left;
  width: 100%;
}

.download_box span a {
    color: #fff;
    font-family: lucida sans unicode,Arial;
    font-size: 27px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    text-decoration: none;
    outline: o none;
}
.tab_content_holder.radius {
    display: inline-block;
    float: none;
    text-align: center;
    max-width: 530px;
    width: 90%;
    vertical-align: top;
}

#page .aside {
    text-align: center;
}


#member_detail_section article .bus_company {
    color: #194c7b;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0 5px;
    text-transform: capitalize;
    transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}

#member_detail_section article .bus_name {
    color: #194c7b;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}

#member_detail_section article .bus_title {
    color: #194c7b;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    transition: font-size 0.5s ease 0s, padding 0.5s ease 0s, color 0.5s ease 0s, line-height 0.5s ease 0s;
}

.bus_address {
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 20px;
    text-align: center;
}

.detail_generel_info {
    border: 1px solid #ededed;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
}
.ui-loader {
    display: none;
}
.top-link {
    background: inherit;
    display: table;
    margin: 0 auto;
    width: 100%;
    z-index: 111;
    text-align: center;
 }
 .top-link > ul {
    /*background: none repeat scroll 0 0 #009999;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: table-caption;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
 }
 .top-link li:first-child {
    margin-left: 0;
}
.top-link li {
    float: none;
    margin-left: 3%;
    text-align: center;
    width: 70px;
    display: inline-block;
    vertical-align: top;
}
.top-link a {
    color: #194c7b;
    display: block;
    float: none;
    font-family: open sans,sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
}
.top-link a::hover {
    color: #0015CA;
}
.top-link span {
    display: block;
    padding: 0 0 5px;
    text-align: center;
}
.top-link li img {
    display: initial !important;
}
.fancybox-inner table.info-table {
    border-bottom: medium none transparent;
    border-top: 1px solid #2aadb9;
}
table tr {
    background: none repeat scroll 0 0 #e7eff4;
}
.open_popup_info .info-table td.blue {
    background: none repeat scroll 0 0 #003366;
    border-top: 1px solid #000b3e;
    color: #fff;
}
.open_popup_info .info-table td {
    border-right: 0 none;
    border-top: 1px solid #d7d9db;
}
.playlist-table {
    background-color: #184161;
    float: left;
    height: auto;
    width: 100%;
}
.playlist-table ul {
    margin: 0;
    padding: 0;
    margin: 10px;
    text-align: center;
}
.playlist-table ul li {
    border-right: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    width: auto;
    display: inline;
    text-align: center;
}
.videoh1 {
    float: left;
    width: 100%;
}
.playlist-table ul li.active {
    background-color: #0d9db9;
}
.but_sty1 {
    background-size: 134px 30px;
    width: 134px;
}
.fullview_clients {
    min-width:0;
}
.download_box_new {
    margin-top: 20px;
}
.download_box_new h1 {
    color: #194c7b;
    
}
.download_box_new img {
    margin-top: 10px;
    margin-left: 0 !important;
}

.profile .user_slide img {
    border-radius: 0 !important;
}


#member_detail_section .owl-buttons > div{
    background-size: auto 100%;
    border-radius: 0;
    /*
    float: left;
    background-image: url(../images/arrow-left-h.png);
    background-position: 0 0;
    background-size: auto 100%;
    width: 42px;
    margin: 15px 0 0 15px;
    */
    height: 17px;
    padding: 0;
    width: 100%;
    background-color: transparent;
}
#member_detail_section .owl-buttons > div.owl-prev:hover{
  /*background-image: url(../images/arrow-left.png);*/
}
#member_detail_section .owl-buttons > div.owl-next{
  float: right;
  background-image: url(../images/arrow-right-h.png); 
  display: none !important;
}
#member_detail_section .owl-buttons > div.owl-next:hover{
  background-image: url(../images/arrow-right.png);
  
}

@media only screen and (max-width: 640px) {
    #page {
      padding: 14px 0 0px;
      min-height: 360px;
    }
    .tab_content_holder_inner {
      padding: 10px;
    }
    .top-link a{
        font-size: 10px;
    }
    .top-link li img {
        width: 30px;
    }
    .top-link > ul {
        padding: 0 0;
    }
    .fancybox img.popphoto {
        height: auto;
        max-width: 200px;
    }
    #member_detail_section article .bus_company {
      font-size: 13px;
      line-height: 14px;
      padding: 3px 0 2px;
    }
    #member_detail_section article .bus_name {
      font-size: 11px;
      line-height: 14px;
    }
    #member_detail_section article .bus_title {
      font-size: 10px;
      line-height: 12px;
    }
    .download_box_new h1{
        font-size: 11px;
        line-height: 13px;
    }
    .download_box_new {
      margin-top: 10px;
    }
    .download_box_new img{
        width: 70px;
    }

}

@media only screen and (max-width: 360px) { 

    .profile .download_box_new a .lo_image {
        width: 32px;
    }
    .profile .download_box_new ul li a p:last-child {
        margin-top: 12px !important;
    }
    .profile .download_box_new h1 {

    }
    .tab_content_holder.radius {
        margin-bottom: 20px;
    }
}