.ui-jcoverflip {
	position: relative;
}
.ui-jcoverflip--item {
	position: absolute;
	display: block;
}
/* Basic sample CSS */
#flip {
	height: 290px;
    margin-bottom: 30px;
}
#flip .ui-jcoverflip--title {
	position: absolute;
	bottom: -30px;
	width: 100%;
	text-align: center;
	color: #555;
}
/*#flip div{
	display: block;
	border: 0;
	outline: none;
}*/
#flip img {
	display: block;
	border: 0;
	outline: none;
}
#flip a {
	outline: none;
}
#wrapper {
	overflow: hidden;
	position: relative;
}
.ui-jcoverflip--item {
	cursor: pointer;
}
#scrollbar {
margin: 0px;
} 

.bottom #wrapper
{
  margin: 0 20px;
}