.login-body {
  background: #f5f5f5;
  padding-bottom: 51px;
}
.register-body {
  background: #f5f5f5; 
  padding-bottom: 51px;
}
.header-login {
  background: #0c629b; /* Old browsers */
  background: -moz-linear-gradient(top,  #0c629b 0%, #1783cb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c629b), color-stop(100%,#1783cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0c629b 0%,#1783cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb',GradientType=0 ); /* IE6-9 */
  height: 51px;
  padding: 10px 30px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
}
#footer-login {
  background: #0c629b; /* Old browsers */
  background: -moz-linear-gradient(top,  #0c629b 0%, #1783cb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c629b), color-stop(100%,#1783cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0c629b 0%,#1783cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb',GradientType=0 ); /* IE6-9 */
  height: 51px;
  padding: 10px 30px;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  line-height: 35px;
  z-index: 1000;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
}
.login-body #footer-login, .register-body #footer-login {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;  
}
.login-screen {
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 600px;
}
.login-screen .user_pass .inputText input {
  border-left: 1px solid #f5f5f5;
  background: #ffffff;
  color: #666;  
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.login-screen .user_pass .inputText input.error {
  border-left: 1px solid #ff0000;
}

.register-body .login-screen .inputText {
  padding-left: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;  
}
.login-screen .inputText {
   margin-bottom: 12px; 
   height: auto;
}
.login-screen .inputText.username,
.login-screen .inputText.password {
  border: none;
  padding-left: 44px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;  
  background: url("../images/username.png") no-repeat scroll 13px 13px #ffffff;
}
.login-screen .remember label {
    color: #666666;
}

.login-screen .but_login input[type="submit"] {
  background: #1783cb;
  border: none;
  color: #ffffff;
  font-size: 17px;
  height: 50px;
  margin: 0;
  padding: 0 0 0;
  width: 100%;
}
.login-screen .but_login input[type="submit"]:hover {
  background: #0c629b;
}
.success {
  text-align: center;    
}
.success h1 {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  line-height: 30px;
}
.success p {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 5px 0 0;
  text-align: center;
}

.download_box_new {
  text-align: center;
}

.download_box_new img {
  margin-left: 10px;
}

.badge_images {
  padding: 10px 33px 10px 44px;
  text-align: center;
}

.badge_images img {
  width: 283px;
}

@media only screen and (max-width: 360px) { 

  .download_box_new img {
    margin-bottom: 10px;
    width: 135px;
  }

  .badge_images {
    padding: 10px 33px 10px 24px;
    text-align: center;
  }
}

@media only screen and (max-width: 358px) { 

  .badge_images {
    padding: 10px 33px 10px 24px;
    text-align: center;
  }
}

@media only screen and ( min-width: 359px and max-width: 370px) { 
  .badge_images {
    padding: 10px 33px 10px 30px;
    text-align: center;
  }
}
