.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.clearfix {*zoom: 1;}

.prettycheckbox,
.prettyradio {
    display: inline-block;
    padding:0;
    margin:0;
}

.prettycheckbox a,
.prettyradio a{
    width: 22px;
    height: 22px;
    background: url(prettyCheckable-black.png) 0 -4px no-repeat;
    display: block;
    float: left;
	*float: none;
    cursor: pointer;
    margin:0;
}

.prettycheckbox.green a,
.prettyradio.green a{ background-image: url(prettyCheckable-green.png);}

.prettycheckbox.red a,
.prettyradio.red a{ background-image: url(prettyCheckable-red.png);}

.prettycheckbox.yellow a,
.prettyradio.yellow a{ background-image: url(prettyCheckable-yellow.png);}

.prettycheckbox.gray a,
.prettyradio.gray a{ background-image: url(prettyCheckable-gray.png);}

.prettyradio a {background-position: 0 -124px;}

.prettycheckbox a:focus,
.prettyradio a:focus {outline: 0 none;}

.prettycheckbox a:focus{background-position: 0 -34px;}
.prettyradio a:focus{background-position: 0 -154px;}

.prettycheckbox a.checked{ background-position: 0 -64px; }
.prettyradio a.checked { background-position: 0 -184px; }

.prettycheckbox a.checked:focus{ background-position: 0 -94px; }
.prettyradio a.checked:focus { background-position: 0 -214px; }

.prettycheckbox label,
.prettyradio label {
 display: block;
  /*float: left;*/
  margin: 0px 5px;
  cursor: pointer;
  width:110px;
}
.prettycheckbox.nopaddlable label,
.prettyradio.nopaddlable label {
  margin: 0px 0;
}

.prettycheckbox.disabled a,
.prettyradio.disabled a,
.prettycheckbox.disabled label,
.prettyradio.disabled label{
  cursor:not-allowed;
}

.prettycheckbox.disabled a {
  background-position: 0 -240px;
}

.prettyradio.disabled a {
  background-position: 0 -270px;
}

.sbHolder{
	background-color: #fff;
	border: 1px solid #EAEAEA;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;
	font-weight: normal;
	height: 31px;
	position: relative;
	width: 100%;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 31px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	text-align:left;
	width: 100%;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #979797;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../images/select-icons.png) 0 -119px no-repeat;
	display: block;
	height: 31px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 39px;
	z-index:11;
}

.sbToggleOpen{
	background: url(../images/select-icons.png) 0 -18px no-repeat;
}
.sbHolderDisabled{
	/*background-color: #3C3C3C;
	border: solid 1px #515151;*/
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #FFD359;
	list-style: none;
	left: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 39px;
	width: 100%;
	z-index: 12;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: dotted 1px #fff;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #fff;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #fff;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
.chkdisable a
{
background-color:#ddd;	
background-image:none;
border:1px solid #000;
height:20px;
width:20px;
display:none;
	}