

.clear{clear: both;}
.tuto-cnt{width: 480px; height:auto; min-height: 20px; margin: 1px auto; padding: 20px; overflow: auto;float:left; }

hr{ margin: 10px 0; border:none; border-top: #ccc 1px dotted;}

/*  First Example with big stars */
.rate-ex1-cnt{
	width:225px; height: 40px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex1-cnt .rate-btn{
	width: 45px; height:40px;
	float: left;
	background: url(../images/rate-btn.png) no-repeat;
	cursor: pointer;
}
.rate-ex1-cnt .rate-btn:hover, .rate-ex1-cnt  .rate-btn-hover, .rate-ex1-cnt  .rate-btn-active{
	background: url(../images/rate-btn-hover.png) no-repeat;
}
/* End first Example with big stars */


/*  Second Example with big stars */
.rate-ex2-cnt{
	width:150px; height: 30px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex2-cnt .rate-btn{
	width: 30px; height:30px;
	float: left;
	background: url(../images/rate-btn2.png) no-repeat;
	cursor: pointer;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active{
	background: url(../images/rate-btn2-hover.png) no-repeat;
}

.rate-ex2-cnt .rate-btn-fixed{
	width: 30px; height:30px;
	float: left;
	background: url(../images/rate-btn2-hover.png) no-repeat;
	cursor: pointer;
}

.rate-ex2-cnt .rate-btn-fixed{
background: url(../images/rate-btn2-hover.png) no-repeat;
}

.rate-ex2-cnt .rate-btn-fixed1{
	width: 30px; height:30px;
	float: left;
	background: url(../images/rate-btn2.png) no-repeat;
	cursor: pointer;
}

.rate-ex2-cnt .rate-btn-fixed1{
background: url(../images/rate-btn2.png) no-repeat;
}
/* End second Example with big stars */

/*  Third Example with big stars */
.rate-ex3-cnt{
	width:85px; height: 17px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex3-cnt .rate-btn{
	width: 17px; height:17px;
	float: left;
	background: url(../images/rate-btn3.png) no-repeat;
	cursor: pointer;
}
.rate-ex3-cnt .rate-btn:hover, .rate-ex3-cnt  .rate-btn-hover, .rate-ex3-cnt  .rate-btn-active{
	background: url(../images/rate-btn3-hover.png) no-repeat;
}
/* End third Example with big stars */


/* rate result */
.rate-result-cnt{
	width: 82px; height: 18px;
	position: relative;
	background-color: #ccc;
	border: #ccc 1px solid;
}
.rate-stars{
	width: 82px; height: 18px;
	background: url(../images/rate-stars.png) no-repeat;
	position: absolute;
}
.rate-bg{
	height: 18px;
	background-color: #ffbe10;
	position: absolute;
}
/* WebCodo Header Stylesheet */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);
body{ background: #f5f5f5; font: 12px 'Segoe UI', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;   margin: 0;}
h1, h2, h3, h4, h5{font-family: 'Segoe UI', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;  margin: 0; font-weight: lighter;}
a{ color: #000000; text-decoration: none;   }
a img{ border: none;}
a:hover{ text-decoration: underline;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wcd{width:33%; height:40px; float:left;}
.wcd-logo{font-size: 36px; color: #fff;text-align: center; float:left; cursor: pointer;  color:#fff; font-size: 32px; font-family: 'Varela Round', sans-serif;
-webkit-transition:color 0.3s ease-in;  -moz-transition:color 0.3s ease-in; x²-o-transition:color 0.3s ease-in; transition:color 0.3s ease-in;
   }
   .wcd-logo:hover{color:#3facff;}
.wcd-tuto{ font-family: 'Varela Round', sans-serif; color: #fff; font-size: 16px; line-height: 36px;}
.webcodo-top{width:100%; height:40px; background-color:#232323}





/* Css Shadow Effect for the prod-box and prod-box-list div */
 .shadow{
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.31);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.31);
}
