input[type="submit"]{
    background: -moz-linear-gradient(top, #BAA1C1 0%, #987F9F 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #BAA1C1), color-stop(100%, #987F9F));
    background: -webkit-linear-gradient(top, #BAA1C1 0%, #987F9F 100%);
    background: -o-linear-gradient(top, #BAA1C1 0%, #987F9F 100%);
    background: -ms-linear-gradient(top, #BAA1C1 0%, #987F9F 100%);
    background: linear-gradient(to bottom, #BAA1C1 0%, #987f9f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BAA1C1', endColorstr='#987F9F', GradientType=0);
    border:1px solid #987F9F;
    box-shadow: 0 0 5px -1px #C4ABCB inset;
    font-weight: normal;
    height: 40px;
    font-size:15px;
    width:auto;
    padding:0 16px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
}
input[type="submit"]:hover {
    background: #339dff;
    background: -moz-linear-gradient(top, #987F9F 0%, #BAA1C1 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #987F9F), color-stop(100%, #BAA1C1));
    background: -webkit-linear-gradient(top, #987F9F 0%, #BAA1C1 100%);
    background: -o-linear-gradient(top, #987F9F 0%, #BAA1C1 100%);
    background: -ms-linear-gradient(top, #987F9F 0%, #BAA1C1 100%);
    background: linear-gradient(to bottom, #987F9F 0%, #BAA1C1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#987F9F', endColorstr='#BAA1C1', GradientType=0);
    border:1px solid #987F9F;
    box-shadow: 0 0 5px -1px #C4ABCB inset;`
}
.sub-new a {
    background: #987F9F;
}
.sub-new a:hover {
    background: #BAA1C1;
}
.business-box .subRow.direct.card .enterTitle {
    padding: 10px 15px;
}
.business-box .border-txt.bottom {
    display: table;
    width: 100%;
}
.business-box .scroll-card {
    float: left;
    width: 98%;
    height: 200px;
}
.business-box .subRow.direct.card {
    width: 47%;
    float: left;
    margin: 0 11px 1.3em 16px ;
    border: 1px solid #DFDFDF;
}
.business-box .border-txt.bottom {
    margin:10px 0 0 0;
}
.enterTitle b {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    vertical-align: top;
    width: 20%;
}
.enterTitle p {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    width: 75%;
}
.business-box .subRow.direct  .enterTitle span {
    color: #ADADAD;
    display: inline-block;
    vertical-align: top;
    width: 2%;
}
a.ui-button {
    background: url("../images/select-arrow-purpul.png") 0% 0% no-repeat;
}
.but_sty1 {
    background: url("../images/but_sty-mem-purpul.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.search-box .serviceTxt {
    background: none repeat scroll 0 0 #E7EDF2;
    color: #8B8B8B;
    float: left;
    font-size: 16px;
    font-weight: 700;
    left: -5px;
    margin: -35px 0 0;
    padding: 4px 5px;
    position: relative;
    width: auto;
}
.border-txt.search-box {
    border: 1px solid #C8CED3;
    margin-top: 16px;
    padding: 20px 16px 0;
}
.subscriber-type {
    margin-right: 20px;
}
.subscriber_form {
    display: table;
}
.subscriber_form .main-row {
    margin: 0 3% 15px 0;
    width: 47%;
    min-height: 88px;
}