input[type="submit"]{
    background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
    border:none;
    box-shadow: none;
    font-weight: normal;
    height: 40px;
    font-size:15px;
    width:auto;
    padding:0 16px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
}
input[type="submit"]:hover {
    background: -moz-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0D97B4), color-stop(100%, #13CDE4));
    background: -webkit-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: -o-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: -ms-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
    background: linear-gradient(to bottom, #0D97B4 0%, #13CDE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D97B4', endColorstr='#13CDE4', GradientType=0);
    border:none;
    box-shadow: none;
}
.sub-new a {
    background: #0D9DB9;
}
.sub-new a:hover {
    background: #BAA1C1;
}
.business-box .subRow.direct.card .enterTitle {
    padding: 10px 15px;
}
.business-box .border-txt.bottom {
    display: table;
    width: 100%;
}
.business-box .scroll-card {
    float: left;
    width: 98%;
    height: 200px;
}
.business-box .subRow.direct.card {
    width: 47%;
    float: left;
    margin: 0 11px 1.3em 16px ;
    border: 1px solid #DFDFDF;
}
.business-box .border-txt.bottom {
    margin:10px 0 0 0;
}
.enterTitle b {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    vertical-align: top;
    width: 20%;
}
.enterTitle p {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    width: 75%;
}
.business-box .subRow.direct  .enterTitle span {
    color: #ADADAD;
    display: inline-block;
    vertical-align: top;
    width: 2%;
}
a.ui-button {
    background: url("../images/select-arrow-purpul.png") 0% 0% no-repeat;
}
.but_sty1 {
    background: url("../images/but_sty-mem-purpul.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.search-box .serviceTxt {
    background: none repeat scroll 0 0 #E7EDF2;
    color: #8B8B8B;
    float: left;
    font-size: 16px;
    font-weight: 700;
    left: -5px;
    margin: -35px 0 0;
    padding: 4px 5px;
    position: relative;
    width: auto;
}
.border-txt.search-box {
    border: 1px solid #C8CED3;
    margin-top: 16px;
    padding: 20px 16px 0;
}
.subscriber-type {
    margin-right: 0px;
    padding-right: 30px;
    padding-top: 10px;
    /*background: url("../images/questuin-mark.png") right center no-repeat;*/
    background-size: 20px auto;
}
}
.subscriber_form {
    display: table;
}
.subscriber_form .main-row {
    margin: 0 1.5% 15px 1.5%;
    width: 47%;
    min-height: 88px;
}

.subscriber_form_radio
{
    display: block;
}

.subscriber_form_radio .main-row {
    margin: 0 1.5% 15px 1.5%;
    width: 47%;
}


label.checkbox
{
    display: inline-block;
    padding:12px 0 0 23px;
}

label.checkbox input
{
    float: left;
    margin-top: 4px;
    margin-left: -23px;
}

div.border-txt
{
    padding: 35px 16px 16px;
}

.subscriber_form .btn_business_row
{
    min-height: 0px;
    text-align: center;
    width: 96%;
}

.tab_link_active span {
    background:#0EA5C0;
}

ul.tab_links li.tab_link a.active {
    background: #AE96B9;
    background: -moz-linear-gradient(top, #AE96B9 0%, #A98BB7 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #AE96B9), color-stop(100%, #A98BB7));
    background: -webkit-linear-gradient(top, #AE96B9 0%, #A98BB7 100%);
    background: -o-linear-gradient(top, #AE96B9 0%, #A98BB7 100%);
    background: -ms-linear-gradient(top, #AE96B9 0%, #A98BB7 100%);
    background: linear-gradient(to bottom, #AE96B9 0%, #A98BB7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AE96B9', endColorstr='#A98BB7', GradientType=0);
    color:#fff;
}
ul.tab_links li.tab_link.last a.active {
    margin-right:0px;
}

.detail_page .sub-new
{
    font-size: 14px;
    margin: -80px 0 0;
    padding: 0;
    position: relative;
    z-index: 1000;
}

.detail_page .sub-new a
{
    padding: 7px 17px;
}

.detail_page .sub-new a:hover
{
    background: #1AB3CE;
}


.subscriber-type label {
    float: left;
}

.subscriber-type label input {margin-right: 5px;}

.subscriber-type img {
    float: left;
    padding-left: 5px;
    max-width: 20px;
}