/* common css */
html, * {
	margin: 0;
	padding: 0;
}
body {
	background: none repeat scroll 0 0 #fff;
	border-width: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin: 0;
	padding: 0;
	top: 0;
	vertical-align:top;
}
div, a, input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="button"], input[type="reset"], img, ul, ul li, ol, li, ol li, table, tr, td, h1, h2, h3, h4, h5, h6, textarea {
	background:none;
	border: medium none;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align:top;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    height: 38px;
    width:99.5%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;
}
input, textarea, select {
	box-shadow:none;
	outline: medium none;
	font-family: 'Open Sans', sans-serif;
}
input:focus, textarea:focus, select:focus, a:focus, select {
	outline: medium none;
	box-shadow:none;
}
ul, ul li, ol, li, ol li {
	list-style: none;
}
p {
}
a, input[type="submit"], input[type="button"], input[type="reset"] {
	cursor: pointer;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.w {
	width: 100%;
}
.clearb, .cl, .clr {
	clear: both;
}
input[type="file"] {
    -webkit-appearance:none;
    background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    text-indent:0px;
    font-size:13px;
    color:#666;
    height:38px;
    width:100%;
    padding:0
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
	-webkit-appearance:none;
	background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    text-indent:0px;
    font-size:13px;
    color:#666;
    height: 18px;
    width:91.5%;
    padding:10px 4%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;  
}
input[type="submit"], input[type="button"], input[type="reset"] {
	-webkit-appearance:none;
}

body {
	background:url(../images/page_bg.jpg) 50% 0% repeat;
}
body.login-screen {
	background:url(../images/login-member-bg.jpg) 50% 0% repeat;
}

#header {
	background:url(../images/header-bg.jpg) center top no-repeat;
	/*min-height:123px;*/
	width:100%;
	position:relative;
}
.login-screen #header {
	background:url(../images/header-bg-login.png) 0% 0% repeat-x;
	min-height:144px;
}

.logo {
	/*width:376px;*/
	width:310px;
	margin:0 auto;
	padding:20px 0 0 0;
}
.logo img {
	width: 293px;
}
.smalllogo {
	/*width:376px;*/
	width:150px;
	margin:0 auto;
	padding:20px 0 0 0;
}
.smalllogo img {
	width: 150px;
}
.login-screen .logo {
	padding:55px 0 0 0;
}
.but_sty1 {
	background:url(../images/but_sty-mem.png) 0% 0% no-repeat;
	width:107px;
	font-family:Open Sans;
	font-size:13px;
	font-weight:400;
	font-style:italic;
	color:#fff;
	line-height:28px;
	text-align:center;
	position:absolute;
	left:50%;
	margin-left:-53px;
	bottom:-14px;
}
.login-box {
	max-width:355px;
	margin:120px auto 180px auto;
	position:relative;
	background:#000066;
	min-height:280px;
	border-radius:6px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    -ms-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
}
.forgot-box {
	max-width:355px;
	margin:179px auto 70px auto;
	position:relative;
	background:#e9edf2;
	min-height:300px;
	border-radius:6px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    -ms-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
}
.login_box_icon {
	width:96px;
	position:absolute;
	left:50%;
	margin-left:-48px;
	top:-52px;
}

#footer {
	/*background:url(../images/footer_bg.png) 50% 0% repeat-x;*/
	background: #000066;
	min-height:57px;
}
.login-screen #footer {
	background:url(../images/footer_bg_login.png) 50% 0% repeat-x;
}

.f-s {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
}

.f-s a {
	color: #bfbfb1;
}

.f-s .www {
	font-family:Open Sans;
	font-size:14px;
	font-weight:400;
	color:#333e47;
	line-height:27px;
	padding:17px 0 13px;
	width: 29%;
	float: left;
}

.f-s .copyrights {
	display: inline-block;
	width: 40%;
}

.terms-footer {
	font-family:Open Sans;
	font-size:14px;
	font-weight:400;
	color:#333e47;
	line-height:27px;
	padding:17px 0 13px;
	display: inline-block;
	width: 29%;
	text-align: right;
}

.copyrights {
	text-align:center;
	font-family:Open Sans;
	font-size:14px;
	font-weight:400;
	color:#bfbfb1;
	line-height:27px;
	padding:15px 0;
}
.login-screen .copyrights {
	color:#fff;
}
.copyrights span {
	font-size: 14px;
}
.login_title {
	font-family:Open Sans;
	font-size:20px;
	font-weight:700;
	color:#666666;
	text-align:center;
	padding:48px 0 18px 0;
	border-bottom:1px solid #d6d8db;
}
.login_form {
	/*border-top:1px solid #f8fafb;*/
}
.login_form_inner {
	padding:0 35px;
}
.user_pass {
	/*background:#d8d8d8;*/
	/*border:1px solid #d4d4d4;*/
}
.user_pass .inputText {
	height:45px;
	padding-left:40px;
}

/*
.user_pass .inputText input {
	height:18px;
    padding:13px 0;
	border:none;
	background:none;
	outline:none;
	width:100%;
	font-size:14px;
    box-shadow: none;
    text-indent:5px;

}*/

.user_pass .inputText input {
	height:45px;
	line-height: 100%;
	line-height: 45px \9;
    padding:0px 0;
	border:none;
	background:none;
	outline:none;
	width:100%;
	font-size:13px;
    box-shadow: none;
    text-indent:15px;
    color: #000;

}
.inputText.username {
	background:url(../images/username.png) 13px 13px no-repeat #d8d8d8;
	/*border-bottom:1px solid #e9e9e9;*/
	border:1px solid #d4d4d4;
	border-radius: 4px;

}
.inputText.password {
	background:url(../images/password.png) 13px 13px no-repeat #d8d8d8;
	/*border-top:1px solid #e7e7e7;*/
	border:1px solid #d4d4d4;
	border-radius: 4px;
	margin-top: 12px;
}
.reme_forg {
	padding:17px 0;
	font-family:Open Sans;
	font-size:13px;
	line-height:18px;
	font-weight:400;
	color:#9393a7;
}
.forgot.backlogin {
    background: url("../images/back-blue-small.png") no-repeat scroll right center;
    font-family: Open Sans;
    line-height: 18px;
    padding: 0px 33px 5px 0;
}
.remember {
	float:left;
}
.remember input {
	padding:0px;
	margin:-3px 0 0 0px;
	vertical-align:middle;
    width:auto;
    height:auto;
}
.remember label {
	padding:0 0 0 0px;
	display:inline-block;
    font-size:13px;
    color:#fff;
    line-height:22px;
}
.forgot {
	float:right;
	color:#999999;
	font-size:13px;
	margin-top: 2px;
	color: #9393A7;
	/*font-weight:700;*/
	cursor: pointer;
}
/*.forgot a {
	color:#999999;
	font-size:12px;
	font-weight:700;
}*/
.but_login {
	/*padding: 17px 0;*/
}
.but_login input[type="submit"] {
	background:url(../images/login_but-member.png) 0% 0% no-repeat;
	background-size:100% 100%;
	width:100%;
	padding:0px 0 2px 0;
	margin:0px;
	height:50px;
	color:#fff;
	font-size:17px;
    border:1px solid #e97700;
}

#page {
	max-width:1060px;
	margin:0 auto;
	padding:35px 0 76px;
	min-height:280px;
	height: auto !important;
}

.home_page #page {
	min-height: inherit;
}

ul.tab_links {
	float:none;
	display:table;
	width:100%;
}
ul.tab_links li {
	float:none;
	display:table-cell;
}
ul.tab_links li.tab_link {
	width:50px;
	font-family:Open Sans;
	font-size:15px;
	font-weight:normal;
	color:#666666;
}
ul.tab_links .tab_link_active {
	background:#e7edf2;
	margin:0 0 0 0;
	height:100%;
	border-radius:6px 6px 0 0;
	border-bottom:1px solid #d5d8db;
    overflow:hidden;
}
ul.tab_links li.tab_link a {
	background:#e7edf2;
	display:block;
	color:#666666;
	line-height:20px;
	padding:8px 20px 4px;
	margin:0 0px 0 4px;
	border-radius:6px 6px 0 0;
}
ul.tab_links li.tab_link a p {
	text-align:center;
	padding:0px;
	width:100%;
	height:28px;
}
ul.tab_links li.tab_link a p.sub {
	background:url(../images/subscibe.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a.active p.sub {
	background:url(../images/subscibe-hover.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a p.bcard {
	background:url(../images/b-card.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a.active p.bcard {
	background:url(../images/b-card-hover.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a p.mservice {
	background:url(../images/m-service.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a.active p.mservice {
	background:url(../images/m-service-hover.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a p.msg {
	background:url(../images/msging.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a.active p.msg {
	background:url(../images/msging-hover.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a p.coupon {
	background:url(../images/coupons.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a.active p.coupon {
	background:url(../images/coupons-hover.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a p.survey {
	background:url(../images/survey.png) no-repeat center 1px;
}
ul.tab_links li.tab_link a.active p.survey {
	background:url(../images/survey-hover.png) no-repeat center 1px;
}


ul.tab_links li.tab_link a.active {
	background: #339dff;
	background: -moz-linear-gradient(top, #ff8900 0%, #ff7300 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff8900), color-stop(100%, #ff7300));
	background: -webkit-linear-gradient(top, #ff8900 0%, #ff7300 100%);
	background: -o-linear-gradient(top, #ff8900 0%, #ff7300 100%);
	background: -ms-linear-gradient(top, #ff8900 0%, #ff7300 100%);
	background: linear-gradient(to bottom, #ff8900 0%, #ff7300 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8900', endColorstr='#ff7300', GradientType=0);
	color:#fff;
}
ul.tab_links li.tab_link.last a.active {
	margin-right:0px;
}

.terms-pg {
	min-height: 280px;
}

.terms-pg .tab_content_holder {
	border-radius:6px;
}

.tab_content_holder {
	background:#d8d8d8;
	border-radius:0 0 6px 6px;
}
ul.tab_links .tab_link_active h1 {
	padding:20px 0 19px 0;
	margin:0px;
	line-height:20px;
	font-family:Open Sans;
	font-size:19px;
	font-weight:700;
	color:#666666;
    display:inline-block;
    text-transform: capitalize;
}
.tab_content_holder_inner {
	padding:22px;
}
.tab_link_active span {
    background:#ff8a00;
    float: left;
    padding:16px 13px;
    margin-right:18px; 
}
.first-col {
    max-width:348px;
    width:34.5%;
    float:left;                                  
}
.middle-col {
    max-width:260px;
    width:25.7%;
    float:left;
    margin:0 1.6%;                                  
}
.last-col {
    max-width:364px;
    width:36%;
    float:left;                                  
}
label {
    display:block; 
    color:#666666;
    font-size:14px; 
    padding-bottom:9px; 
}
.main-row {
    float: left;
    width: 100%;
    margin-bottom:1.3em;
}
.main-row.city {    
    margin-right: 4.7%;
    width: 44%;
}
.main-row.zip {    
    width:51%;    
}
.main-row.email {    
    margin-right: 4.7%;
    width:59%;
}
.main-row.search {    
    width:12%;    
}
input[type="submit"] {
	background: -moz-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe8900), color-stop(100%, #ff7400));
	background: -webkit-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -o-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -ms-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: linear-gradient(to bottom, #fe8900 0%, #ff7400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#ff7400', GradientType=0);
    border:1px solid #E97700;
    box-shadow: 0 0 5px -1px #e97700 inset; 
    font-weight: normal;
    height: 40px;
    font-size:15px;
    width:auto;
    padding:0 16px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;    
}
input[type="submit"]:hover {
	background: -moz-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff7400), color-stop(100%, #fe8900));
	background: -webkit-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -o-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -ms-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: linear-gradient(to bottom, #ff7400 0%, #fe8900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#fe8900', GradientType=0);
    border:1px solid #e97700;
    box-shadow: 0 0 5px -1px #e97700 inset; 
}
input[type="button"],
input[type="reset"] {
	background: -moz-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe8900), color-stop(100%, #ff7400));
	background: -webkit-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -o-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -ms-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: linear-gradient(to bottom, #fe8900 0%, #ff7400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#ff7400', GradientType=0);
    border:1px solid #E97700;
    box-shadow: 0 0 5px -1px #e97700 inset; 
    font-weight: normal;
    height: 40px;
    font-size:15px;
    width:auto;
    padding:0 16px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;    
}
input[type="button"]:hover,
input[type="reset"]:hover {
	background: -moz-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff7400), color-stop(100%, #fe8900));
	background: -webkit-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -o-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -ms-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: linear-gradient(to bottom, #ff7400 0%, #fe8900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#fe8900', GradientType=0);
    border:1px solid #e97700;
    box-shadow: 0 0 5px -1px #e97700 inset; 
}
.main-row.search input[type="submit"] {
    width:99.7%;             
}
.tab_content_holder label {
    padding-bottom:9px;                   
}
.tableRow label.radio-label {
    margin:-3px 15px 0 5px;
    padding:0;
    float:left;
}

.sbHolder {
    background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    font-size:13px;
    height: 38px;
    position: relative;
    width:99.5%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;
}
.sbHolder:focus .sbSelector {
    outline:none;            
}
.sbSelector {
    display: block;
    height: 38px;
    left: 0;
    line-height: 38px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-indent: 10px;
    top: 0;
    width: 100%;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    color: #666666;
    outline: medium none;
    text-decoration: none;
}
.sbToggle {
    background: url(../images/select-arrow-orange.png) no-repeat left top;
    display: block;
    height:40px;
    outline: medium none;
    position: absolute;
    right: -1px;
    top: -1px;
    width:40px;
    z-index: 11;
}
.sbToggleOpen {
    background: url(../images/select-arrow-orange.png) no-repeat left top;
}
.sbHolderDisabled {
}
.sbHolderDisabled .sbHolder {
}
.sbHolderDisabled .sbToggle {
}
.sbOptions {
    background-color: #f2f2f2;
    left: 0;
    list-style: none outside none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 39px;
    width: 100%;
    z-index: 12;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow:0 0 3px 0 #9D9D9D;
	-moz-box-shadow:0 0 3px 0 #9D9D9D;
    -ms-box-shadow:0 0 3px 0 #9D9D9D;
	box-shadow:0 0 3px 0 #9D9D9D;
}
.sbOptions li {
    padding: 0 7px;
    font-size:13px;
}
.sbOptions a {
    border-bottom: 1px solid #E4E6E8;
    display: block;
    outline: medium none;
    padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited {
    color: #666666;
    text-decoration: none;
}
.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
    color: #000;
}
.sbOptions li.last a {
    border-bottom: medium none;
}
.sbOptions .sbDisabled {
    border-bottom: 1px dotted #515151;
    color: #000;
    display: block;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup {
    border-bottom: 1px dotted #515151;
    color: #666666;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbSub {
    padding-left: 17px;
}
.shorting {
    float: left;
    padding: 12px 0px;
    width: 100%;
}
.shorting ul {
    margin:0px;
    padding:6px 0 0 0;
    float:left;      
}
.shorting ul li {
    margin:0px;
    padding:0px;
    float:left;      
}
.shorting ul li a {
    margin:0px 2px 0 0;
    padding:6px 9px 7px 10px;
    font-size:12px;
    text-transform:uppercase;
    color:#333;
    line-height:12px;
    float:left;     
}
.shorting ul li a.active, .shorting ul li a:hover {
    background: -moz-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #0D9DB9), color-stop(100%, #0D9DB9));
	background: -webkit-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: -o-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: -ms-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: linear-gradient(to bottom, #0D9DB9 0%, #0D9DB9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D9DB9', endColorstr='#0D9DB9', GradientType=0);
    box-shadow: 0 0 5px -1px #e97700 inset; 
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;   
    color: #fff;   
}



.export {
    float:right;
    padding-right:1px; 
    margin-left:5px; 
}
.tab_content_holder.second {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    overflow:hidden;                            
}
.tab_content_holder.directory .tab_content_holder_inner {
    padding:25px;
}
.tab_content_holder.directory {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    margin-top:30px;
    overflow:visible;       
}
.tab_content_holder_inner table {
    border-bottom: 1px solid #d7d9db;
}
table tr {
    background:#e7eff4;
}
table tr.light {
    background:#f2f5f7;
}
.tab_content_holder table tr th label {
    padding-bottom:0px;
    color:#fff;
}
.tab_content_holder table tr th img {
    padding-top:10px;
    float:right;
}
table tr th {
    /*border-right:1px solid #d7d9db;
    border-bottom:1px solid #d7d9db;*/
    background: -moz-linear-gradient(top, #fe8900 0%, #ff7400 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe8900), color-stop(100%, #ff7400));
    background: -webkit-linear-gradient(top, #fe8900 0%, #ff7400 100%);
    background: -o-linear-gradient(top, #fe8900 0%, #ff7400 100%);
    background: -ms-linear-gradient(top, #fe8900 0%, #ff7400 100%);
    background: linear-gradient(to bottom, #fe8900 0%, #ff7400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#ff7400', GradientType=0);
    border-right:1px solid #F7930A;
    padding:16px 10px 15px 10px;
    font-weight:500;
    color:#fff;
    font-size:14px;
    line-height:24px;
    text-align:left;
}
.promo-popup table tr td {
	line-height: 15px;
}
table tr td {
    border-right:1px solid #d7d9db;
    padding:16px 1px 15px 10px;
    font-weight:500;
    color:#666666;
    font-size:12px;
    line-height:24px;
    text-align:left;
}
table tr td a {
    text-decoration:none;  
    color:#666666;
}
table tr td a:hover {
    text-decoration:none;  
    color:#000;
}
.paging {
    float: left;
    padding:10px 0 15px;
    width: 100%;
}
.paging ul {
    margin:0px;
    padding:6px 20px 0 0;
    float:right;      
}
.paging ul li {
    margin:0px;
    padding:0px;
    float:left;      
}
.paging ul li a {
    margin:0px 0 0 2px;
    padding:6px 9px 7px 10px;
    font-size:12px;
    text-transform:uppercase;
    color:#666666;
    line-height:12px;
    float:left;     
}
.paging ul li a.active, .paging ul li a:hover {
	background: -moz-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe8900), color-stop(100%, #ff7400));
	background: -webkit-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -o-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -ms-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: linear-gradient(to bottom, #fe8900 0%, #ff7400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#ff7400', GradientType=0);
    box-shadow: 0 0 5px -1px #e97700 inset; 
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px; 
    color:#fff;     
}
ul.tab_links .tab_link_active.inner {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;  
    margin-bottom:0px;
    border-bottom:none;                     
}
.block-part {
    float:left;
    margin:0px 0 0 -2.4%;
    padding:0px;
    width:102.4%;      
}
.block-part.normal {
    margin-left:0px;
    width:100%;               
}
h1 {
    color: #666666;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding:0px 0 0px;        
}
.block-part > h1 {
    padding-bottom:20px;
    margin-left:3%;
}
.block-part .main-row input[type="submit"] {
    width:auto;
    padding: 0 16px;
}
.block-part .main-row input[type="submit"] {
    width:auto;
    padding: 0 16px;
}
.listing-view {
    float:left;
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_content_holder.second .tab_content_holder_inner {padding:0px;}
.block-part .main-row {
    margin-left: 3%;
    min-height:96px;
    width: 30%;
    margin-bottom:0px;
}
.block-part .main-row.message {  
    width: 28%;   
}
.view {
    float: right;
    padding: 10px 10px 0 0;
}
.no-record{
    display:block; 
    padding:20px 20px 30px 20px;
    font-size:15px;      
}
label.error {
    color: #FF0000;
    font-size: 13px;
    font-weight: normal;
    padding-bottom:0px;
}
.inputText.username label.error, .inputText.password label.error {
    display:block; 
    text-indent:-9999em;        
}
.user_pass .inputText input.error {
    border:1px solid #ff0000; 
    margin-top: -1px;      
}
.log-out {
    float: right;
    margin-right:0;
}
.log-out a {
    text-decoration:none;    
    line-height: 14px;
    padding:11px 17px 12px 16px;
    /*border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;*/
    float:right;
    background: #FF8A00;
    font-size: 13px;
    /*background: -moz-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #fe8900), color-stop(100%, #ff7400));
	background: -webkit-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -o-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: -ms-linear-gradient(top, #fe8900 0%, #ff7400 100%);
	background: linear-gradient(to bottom, #fe8900 0%, #ff7400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#ff7400', GradientType=0);
    box-shadow: 0 0 5px -1px #e97700 inset;*/
	color:#fff;
}
.log-out a:hover {
    /*background: -moz-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff7400), color-stop(100%, #fe8900));
	background: -webkit-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -o-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: -ms-linear-gradient(top, #ff7400 0%, #fe8900 100%);
	background: linear-gradient(to bottom, #ff7400 0%, #fe8900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#fe8900', GradientType=0);
    box-shadow: 0 0 5px -1px #e97700 inset; */
    color: #f2f2f2;
}
.fancybox-inner {
    background:#E7EDF2;
}
.fullview_clients {
    float:left;
    width:100%;
    max-width:770px;    
    min-width:600px;  
}
.subRow {
    display:block;  
}
.subRow.light {
    background:#F2F5F7; 
}
.enterTitle {
    display:block;
    padding:16px;
    border-top:1px solid #D7D9DB;
}
.enterTitle.main h1 {
    color:#fff;             
}
.enterTitle.main {
    background: #009999;
	/*background: -moz-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #0D9DB9), color-stop(100%, #0D9DB9));
	background: -webkit-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: -o-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: -ms-linear-gradient(top, #0D9DB9 0%, #0D9DB9 100%);
	background: linear-gradient(to bottom, #0D9DB9 0%, #0D9DB9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D9DB9', endColorstr='#0D9DB9', GradientType=0);*/
	color:#fff;
    border-top:none;             
}
.enterTitle b {
    display: inline-block;
    width: 28%;   
    font-weight:600;
    font-size:14px;
    vertical-align: top;
}
.enterTitle span {
    display: inline-block;
    width: 6%;
    vertical-align: top;
}
.enterTitle p {
    display: inline-block;
    width: 50%;
    font-size:11px !important;
    vertical-align: top;
}
.active_slide .rank-all img {
  width:auto;
  margin-top: 0;
}
.active_slide .rank-all {
/*margin-top: 0;*/
}
.active_slide .detail-membar img {
margin-top: 0;
}
.rank-all img {
  width: 50%;
   margin-top: 16px;
}
.active_slide .enterTitle p {
    font-size:13px;
}
.enterTitle p a {
    text-decoration:none;
    color:#666;       
}
.enterTitle p a:hover {
    color:#000;      
}
.add-banner {
	
    margin:0 auto 62px;
    width:100%;
    max-width:727px;        
}
.add-banner.home img{
	border-radius: 5px 5px 5px 5px;
}
.ui-jcoverflip--item > div {
    margin-top: 22px;
}
.main_b_card.active_slide {
  margin-top: 0;
}
.bottomDiv {
	margin:20px 0 0 0;
	padding:0px;
	float:left;
	width:100%;
}
.main-row.state {
	width:16%;
	margin-right:1.8%;
}
.main-row.phone {
	width:33%;
	margin-right:1.8%;
}
.main-row.attach {
    margin-right: 3.3%;
    width: 31.3%;
}
.main-row.attach input[type="text"] {
	border-radius: 4px 0 0 4px;
    float: left;
    width: 56%;
}
.main-row.attach input[type="button"] {
	width:34%;
	border-radius:0 4px 4px 0;
    float: left;
}
.export.add .tooltipster-default {
	background:#FF7400;
}
.add-banner.home {
	margin-top:48px;
	margin-left: 155px;
}
.homeMain {
	margin:10px 0 0 0;
	padding:0px;
	float:left;
	width:100%;
}
.leftAdd {
	/*margin:0px;*/
	/*padding:0 0 0 0.6%;*/
	margin-left: 0.8% !important;
	float:left;
	width:17.2%;	
	max-width:173px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
}
.rightAdd {
	margin:0px;
	padding:0px;
	float:left;
	width:17.2%;	
	max-width:173px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
}
.videoMiddle {
	margin:40px 4% 0 4%;
	padding:0px;
	float:left;
	width:56.6%;	
	max-width:571px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
}
.alert-box {	
    background: none repeat scroll 0 0 #E9EDF2;
	border-radius:6px;
	-webkit-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
    /*margin: 150px auto 150px;*/
    min-width: 320px;
    position: relative;
}
.error-title {
	background: #FE8900;
	background: -moz-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #FE8900), color-stop(100%, #FF7400));
	background: -webkit-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: -o-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: -ms-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: linear-gradient(to bottom, #FE8900 0%, #FF7400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE8900', endColorstr='#FF7400', GradientType=0);
	color:#fff;
	padding:16px;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-ms-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
}
.error-title span {
	display:inline-block;
	color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
	padding-left:10px;
}
.error-title a.close {
	height: 34px;
    position: absolute;
    right: 4px;
    top: 10px;
    width: 38px;
	background: url(../images/fancybox_sprite.png) no-repeat left top;
}
.error-txt {
	font-size:15px;
	color:#333;
	padding:20px 16px;
	line-height:20px;
	text-align:center;
}
.button-div {
	float:left;
	width:100%;
	margin:0px 0 1.6em 0;
	padding:0px;
	text-align:center;
}
.button-div a {
	display:inline-block;
	min-width:100px;
	padding:10px 0;
	margin:0 5px;
	color:#fff;
	font-size:15px;
	line-height:15px;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	background: #FE8900;
	background: -moz-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #FE8900), color-stop(100%, #FF7400));
	background: -webkit-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: -o-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: -ms-linear-gradient(top, #FE8900 0%, #FF7400 100%);
	background: linear-gradient(to bottom, #FE8900 0%, #FF7400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE8900', endColorstr='#FF7400', GradientType=0);
}
.button-div a:hover {
	background: -moz-linear-gradient(top, #FF7400 0%, #FE8900 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #FF7400), color-stop(100%, #FE8900));
	background: -webkit-linear-gradient(top, #FF7400 0%, #FE8900 100%);
	background: -o-linear-gradient(top, #FF7400 0%, #FE8900 100%);
	background: -ms-linear-gradient(top, #FF7400 0%, #FE8900 100%);
	background: linear-gradient(to bottom, #FF7400 0%, #FE8900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7400', endColorstr='#FE8900', GradientType=0);
}
.main-row.search-add input[type="submit"] {
    margin-right:14px;                 
}
.main-row.attach.add {
    margin-right: 0;
    width: 30%;
}
.tableRow {
    clear: both;
    display: block;
}
.exel-demo {
    float: left;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
}
.exel-demo a {
    text-decoration: none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding-left: 34px;
    padding-bottom: 0px;
    background: url("../images/excel.png") no-repeat left top;
}
.exel-demo a:hover {
    color: #000;
}

.first-col.new-txt {
    float: left;
    max-width: inherit;
    width: 49%;
}

.first-col.new-txt textarea {
    height: 76px !important;
    resize:none;
}


.bottomDiv.newbtm {
    float: right;
    width: 49%;
}

.bottomDiv.newbtm .main-row.attach {
	width: 100%;
	margin-right: 0;
}
label span.required_icon {
    color: #FF0000;
    font-size: 9px;
    vertical-align: top;
}
.headRow {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
}
.directory-head {
    font-size: 13px;
    margin: 0;
    padding:12px 10px 0 0;
    width: auto;
    color: #EDEDED;
    line-height:14px;
}
#top-bar {
    background: #0C5BA8;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #0C5BA8;
}
a.ui-button {
    background: url(../images/select-arrow-orange.png) no-repeat left top;
}
.fromdate {
    float: left;
    width:45%;
}
.todate {
    float: right;
    width:45%;
}
.border-txt {
    border: 1px solid #C8CED3;
    margin-top: 16px;
    padding: 35px 16px 0;
}
.serviceTxt {
    background: none repeat scroll 0 0 #E7EDF2;
    color: #8B8B8B;
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: -52px 0 0 6px;
    padding: 4px 5px;
    width: auto;      
}
.home-php {
	width: 40%;
	float: left;
	margin-right: 16px;
}
.sub-new {
    float: right;
    margin: 0 0 1.6em 0;
    padding: 0;
    width: auto;
}
.sub-new a {
	text-decoration: none;
	padding: 7px;
	margin:0px;
	float: left;
	background: #FF7400 ;
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	color: #fff;
	font-weight: bold;
}
.enterTitle.light {
    border-top: medium none;
    background: #2db5b5;
    color: #fff;
}
.enterTitle.dark {
    border-top: medium none;
    background: #ECF2F7;
    min-height: 68px;
}
.enterTitle.dark p, .light p {
	font-size: 12px !important;
	width: 70%;
}
.subRow.direct .enterTitle {
	padding: 12px;
}
.border-txt.bottom {
	/*margin: 0 0 3em;*/
    padding: 20px 0 0;
}
.border-txt.bottom .serviceTxt {
	margin-top: -36px;
}
.subRow.direct.card {
	/*border: 1px solid #CECECE;*/
    border-radius: 0;
    /*margin: 0 16px 1.3em;*/
    padding: 0;
}
.scroll-card {
    /*height: 228px;
    overflow-y: scroll;
    padding-right: 14px;
    margin-bottom: 0.5em;*/
}
.subRow.direct.card .enterTitle {
    padding: 13px;
}
.tab_content_holder.radius {
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}
.subRow.direct .enterTitle span {
	display: none;
}


#termsAndCondi  .enterTitle.main,#Cancelsubscription  .enterTitle.main{
background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
    background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
    background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
}

#termsAndCondi  .subRow p,#Cancelsubscription  .subRow p {
    font-size: 13px;
    line-height: 20px;
    /*padding: 20px 3px;*/
    padding:20px; 
}

/*.main-row.terms label.checkbox {
	padding-left: 0;
}*/

.main-row.terms label.checkbox a {
	/*color: #666666;
	text-decoration: none;*/
	color: #11C0D8;
    text-decoration: underline;
}

span.list_url a, span.bus_email a{
    color: #333333;
    font-family: arial;
    font-size: 10px;
    line-height: 12px;
}
span.list_url a:hover{
    color: #000;
}
span.bus_email a {
    color: #ccc;
}
span.bus_email a:hover{
    color: #777777;
}
.active_slide span.bus_email a{
    color: #777777;
    font-size: 13px;
    line-height: 18px;
}
.active_slide span.bus_playlist a{
    color: #ffffff;
    font-size: 13px;
    line-height: 6px;
    width:57px;
    text-align:center;
    line-height: 13px;
}
.bus_playlist.sub-new {
  line-height: 10px;
}

.active_slide .business_card .bus_phone{
	font-size: 13px;
	line-height: 20px;
}
.active_slide .business_card .bus_phone .playlist {
	float: left;
	width: 24%;
}
.business_card .bus_phone .playlist {
	float: left;
	width: 29%;
}
.active_slide .business_card .bus_phone .playlist a img {
	margin-bottom: 10px;
}
.business_card .bus_phone .playlist a img {
	margin-bottom: 3px;
}
.active_slide .business_card .bus_phone .bus_img{
	width: 70px;
	height:50px;
}
.business_card .bus_phone{
    font-size: 10px;
    line-height: 17px;
}
.business_card .bus_phone .bus_img {
	width: 50px;
	height:50px;
	float: left;
}

.subbutton-div {
	float:left;
	width:100%;
	margin:0px 0 1.6em 0;
	padding:0px;
	text-align:center;
}

.subbutton-div a {
	display:inline-block;
	min-width:100px;
	padding:10px 0;
	margin:0 5px;
	color:#fff;
	font-size:15px;
	line-height:15px;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	background: #13CDE4;
	background: -moz-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #13CDE4), color-stop(100%, #0D97B4));
	background: -webkit-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
	background: -o-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
	background: -ms-linear-gradient(top, #13CDE4 0%, #0D97B4 100%);
	background: linear-gradient(to bottom, #13CDE4 0%, #0D97B4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13CDE4', endColorstr='#0D97B4', GradientType=0);
}
.subbutton-div a:hover {
	background: -moz-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #0D97B4), color-stop(100%, #13CDE4));
	background: -webkit-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
	background: -o-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
	background: -ms-linear-gradient(top, #0D97B4 0%, #13CDE4 100%);
	background: linear-gradient(to bottom, #0D97B4 0%, #13CDE4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D97B4', endColorstr='#13CDE4', GradientType=0);
}
p.v-name a {
	 height: 26px;
    line-height: 24px;
    padding: 0 10px 0 35px;
     background: url(../images/video.png) no-repeat left top;
     display: inline-block;
     margin: 0 10px 0 0;
     font-weight: 700;
     
}
p.v-name a:hover {
	color:#ff8a00;
}
.videoh1  h1 {
	text-align: center;
	margin-bottom: 15px;
	color:#0d9db9;
}
.home-detail-top
{
	float:left;
	width:100%  
}
.top-link {
  background: inherit;
  display: table;
  float: none;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 111;
}
.active_slide .top-link {
  background: inherit;
  display: table;
  float: none;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 111;
}
.top-link > ul {
  background:#009999;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  display: table-caption;
  margin:0 0 0 0;
  padding:10px 15px;
}
.top-link li {
  float: left;
  margin-left: 3%;
  text-align: center;
  width: 31%;
}
.top-link span {
  display: block;
  padding: 0 0 5px;
  text-align: center;
}
.top-link li:first-child {
  margin-left: 0;
}
.top-link a {
  color: #fff;
  display: block;
  float: none;
  font-family:open sans,sans-serif;
  font-size: 8px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

.active_slide .top-link a {
  font-size: 13px;
}
.inner-detail-btm {
  display: inline-block;
  float: none;
  margin: 0 auto 20px;
  width: 100%;
}
.active_slide .inner-detail-btm {
  display: inline-block;
  float: none;
  margin: 0 auto 20px;
  width: 100%;
}
.top-link li img {
  display: initial !important;
  width: 35%;
}
.inner-detail-btm .enterTitle.dark
{
    border-top:none;
    background:#fafafa;
    height:auto;
    overflow-y: auto;
    -webkit-box-shadow:-7px 7px 20px -19px #121212;
-moz-box-shadow:-7px 7px 20px -19px #121212;
box-shadow: -7px 7px 20px -19px #121212;
 border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
    display: block;
    padding: 12px;
	width:100%;
	float:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;

}

.active_slide .inner-detail-btm .enterTitle.dark
{ 
	display: block;
    padding: 12px;
	width:100%;
	float:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.inner-detail-btm .enterTitle.dark .detail-membar > span {
  display: inline-block;
  width: 36%;
}
.detail-membar img {
display: initial !important;
  max-width: 100%;
}
.inner-detail-btm .enterTitle.dark .detail-membar > p {
   display: inline-block;
    margin: 0 0 0 2%;
    width: 58%; 
}
.inner-detail-btm .enterTitle.dark .detail-membar > p strong {
  display: block;
  font-size: 11px;
  margin:3px 0 0 0; 
}
.active_slide .inner-detail-btm .enterTitle.dark .detail-membar > p strong {
  font-size: 16px;
  margin:10px 0 0 0; 
}
.rank-all {
	text-align:right; 
  display: block;
  float: none;
  margin: 5px 0 0;
}
.open_popup_info .info-table td {
  padding:10px 18px;
}
.blur-div {
  background:#000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11111;
}
.fancybox-inner
{
	z-index:99999; 
}
.tab_content_holder_inner table .top-logo {
  display: inline-block;
  float: left;
  margin: 0 0 10px;
  width: 100%;
}
.tab_content_holder_inner table .top-logo > span {
  display: inline-block;
}
.tab_content_holder_inner table .top-logo > h1 {
  display: inline-block;
  color:#282828; 
  font-size: 22px;
  line-height: 90px;
  padding: 0 0 0 10px;
}
.fancybox-inner table.info-table {
  border-bottom: medium none transparent;
  border-top: 1px solid #2aadb9;
}
 .open_popup_info .info-table td.blue {
  background:#003366;
  color:#fff;
  border-top: 1px solid #000b3e;
} 
.detail-membar {
  position: relative;
}
.playlist-table {
  background-color: #184161;
  float: left;
  height: auto;
  width:23%;
} 
 .playlist-table img {
  max-width: 100%;
  width: 100%;
} 

.playlist-table ul {
    margin: 0;
    padding: 0;
    min-height:310px; 
}
.playlist-table ul li {
  background-color: #184161;
  border-right: 0 none;
  cursor:pointer; 
  border-top: 1px solid #396282;
  color: #fff;
  display: block;
  font-family:Open Sans,sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding:10px;
  text-align: center;
} 

.playlist-table ul li.active {
    background-color: #0d9db9;
}
.video-playlist {
  background:#285171;
  color: #fff;
  display: inline-block;
  float: left;
  padding:16px 0;
  display:none; 
  text-indent: 10px;
  width: 77%;
}
 .tab_content_holder_inner table .decription-top {
  background:#fff;
  border: 1px solid #dfdfdf;
 box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #282828;
  float: left;
  font-size: 14px;
  line-height: 23px;
  margin: 10px 0 0;
  padding: 21px;
  width: 100%;
} 

.fancybox-outer, 
.fancybox-inner,
.fancybox-skin
{
	width:100% !important; 
}
.fullview_clients {
  min-width: inherit;
}
.inner-detail-btm .enterTitle.dark .detail-membar > p strong:first-child {
  margin: 0;
}
.open_popup_info .info-table td
{
	border-top: 1px solid #d7d9db;
   border-right:0; 
}
.fancybox-outer, .fancybox-inner {
  border-radius: 6px;
  height: auto !important;
  max-width: 770px;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}
.fancybox-opened {
  left: 23% !important;
  top:20% !important; 
  max-width: 770px;
  width: 60% !important;
  z-index: 99999;
}
.top-logo > h1 {
  display: inline-block;
  font-size: 20px;
  line-height: 99px;
  margin: 0 0 0 10px;
}
.fancybox-opened .fancybox-skin {
  box-shadow: inherit !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  padding: 0 !important;
  width: 100% !important;
}
.fancybox-wrap
{
	top:70px !important; 
	position:relative !important; 
}
.inner-detail-btm .enterTitle.dark .detail-membar span img {
  min-height: 60px;
}
.videoh1
{
	float:left;
	width:77%;  
}
table tr td .top-logo img {
  height: auto;
  width: 165px;
}
@media only screen and (max-width :480px) {
	.top-link a
	{
		font-size:11px; 
	}
	.inner-detail-btm .enterTitle.dark .detail-membar > p {
  display: inline-block;
  margin: 0;
  padding-bottom:0;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.top-link
{
	width:80%; 
}
.rank-all {
  bottom: 0;
  display: table;
  float: left;
  position: relative;
  right: inherit;
  text-align: center;
  width: 100%;
}
.inner-detail-btm .enterTitle.dark .detail-membar > span {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.open_popup, .open_popup_info, .play-list {
  left: 0;
  width: 100%;
}
.logo
{
	width:100% 
}
.logo > img {
  display: block;
  float: none;
  margin: 27px auto;
  max-width: 95%;
}

}

@media only screen and (max-width :320px) {
 .top-link a {
  font-size: 9px;
  width: auto;
}
.playlist-table ul li
{
	padding:8px; 
}
.open_popup_info .fullview_clients
{
	min-width:600px; 
}
.tab_content_holder_inner table .top-logo > h1
{
	line-height:normal;
	padding-top:10px;

}
.top-logo > h1 {
  display: block;
  font-size: 16px;
  line-height: normal;
  margin: 9px 0 0 10px;
  text-align: center;
}
.decription-top,
.top-logo
{
	text-align:center;
	display:block;  
}
.top-link
{
	width:94%; 
}

}
.left-promo {
  width: 60%;
  float: left;
}

.promo-popup .left-promo {
	border-right: 1px solid #d7d9db;
	border-top: 0;
}
.right-promo {
  width: 39.80%;
  float: left;
  border-top: 1px solid #2aadb9;
}

.right-promo-img {
	width: 100%;
	height: 165px;
	background: #e7e7e7;
}
.promo-msg-table-title {
	float: left;
	width: 100%;
}
.promo-msg-table-title h1 {
background: #009999;
border-top: medium none;
color: #ffffff;
padding: 5px 0;
text-align: center;
font-size: 14px;
}

.promo-msg-table-title ul {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}

.promo-msg-table-title li {
float: left;
list-style-type: disc;
width: 100%;
}

.promo-msg-table-title p {
	padding: 10px;
}
.info-25 {
color: #0ea5c0;
font-size: 22px;
font-weight: bold;
padding: 10px 0;
text-align: center;
}

.righ-table {
	width: 100%;
	border-top: 0 !important;
}



.d-d {
    width: 25%;
    position: relative;
}

.d-d select {
    width: 100%;
    padding: 5px;
    height: 45px;
    line-height: 45px;
}
.select-wrapper{
    float: left;
    display: inline-block;
    border: none;            
    background: url("../images/select-arrow-purpul.png") no-repeat right center #f2f2f2;
    cursor: pointer;
    background-size: 45px auto;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.d-d option {
    background: #f2f2f2;
}
.select-wrapper, .select-wrapper select{
    width: 300px;
    height: 45px;
    line-height: 45px;
}
.select-wrapper .holder{
    display: block;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;            
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.select-wrapper select{
    margin: 0;
    left: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

/*------------------------Style-by-Akash------------------*/
.sub-service .s-d-title span.upgrad-btn{
    margin-top: 0;
}
.sub-service .s-d-title span.upgrad-btn a , .sub-service .s-d-title span.upgrad-btn input[type="submit"]{
    background: none repeat scroll 0 0 #009999;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    display: block;
    margin: 0;
    height: auto;
    float: none;
    line-height: 20px;
    padding: 4px 10px;
}

.sub-service .s-d-title span.upgrad-btn input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.sub-service .s-d-title span.upgrad-btn input[type="submit"]:hover{
    background: none repeat scroll 0 0 #009999;
}

.error1{
color:#FF0000;
}

.shorting.msg{
float:none;
}

a:hover, a:focus{
text-decoration:none  !important;
}