@import url('owl.carousel.css');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

a{
  text-decoration: inherit;
  color: inherit;
}
a:hover,
a:focus{
  opacity: 0.7;
}

.profile {
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif !important;
    color: #333333 !important;
    line-height: normal !important;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.profile .slide_animatio {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.profile .data_scroll {
    padding-top: 0;
}
.profile .list_scrolling, .profile .data_scroll {
    height: 100%;
    overflow: auto;
    padding-top: 85px;
    position: relative;
}
.profile .default_padding {
    overflow: hidden;
    padding: 50px;
}
.profile .max_width {
    margin: 0 auto 20px;
    max-width: 420px;
    width: 100%;
}
.profile .second_menu {
    clear: both;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    vertical-align: top;
    display: none !important;
}
.profile .second_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.profile .second_menu ul li {
    float: left;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 33.33%;
}
.profile .second_menu ul li a {
    color: #2191d9 !important;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: normal!important;
}
.profile .second_menu ul li a i {
    display: block;
    margin: 0 auto 10px;
}
.profile .media_list ul li i, .profile .buttons i, .profile i.icon_style {
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    display: inline-block;
    height: 52px;
    margin-right: 14px;
    vertical-align: middle;
    width: 52px;
}
.profile .hover_icon a:hover .profile .website_icon, .profile .website_icon_blue {
    background-image: url("../images/website_icon_hover.png");
}
.profile .hover_icon a:hover .profile .share_icon, .profile .share_icon_blue {
    background-image: url("../images/share_hover.png");
}
.profile .hover_icon a:hover .profile .no_media_icon, .profile .no_media_icon_blue {
    background-image: url("../images/no_media_icon_hover.png");
}
.profile .videoslider {
    background: #ffffff none repeat scroll 0 0;
    text-align: center;
}
.profile .form_field, .profile .shadow_white, .profile .videoslider {
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
}
.profile .user_slide {
    color: #3d3e42;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    padding: 20px;
    text-align: center;
}
.profile .user_slide img {
    border-radius: 100%;
    display: block;
    margin: 0 auto 20px;
    max-width: 50%;
}
.cmpny_info_slide img {
    max-width: 38% !important;
}
.profile .user_name {
    font-size: 16px;
    margin-bottom: 5px;
}
.profile .user_name strong {
    font-size: 19px;
    font-weight: bold;
}
.profile .cmpny_info_slide {
    text-align: left;
}
.profile .cmpny_info_slide img {
    border-radius: 0;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}
.profile .company_detail a{ 
  color: #1683CA;
  display: inline-block;
  margin: 3px 0;
}
.profile .company_detail {
    font-size: 14px;
    line-height: 23px;
    margin-top: 15px;
}
.profile .left_arrow {
    float: left;
}
.profile .owl-buttons > div.owl-prev {
    background: #2abd68 url("../images/prev.png") no-repeat scroll center center;
}.profile .owl-buttons > div {
    /*
    color: transparent;
    overflow: hidden;
    */
    background: #2abd68 none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 18;
    color: #194c7b;
    height: 30px;
    margin: 0 3px;
    vertical-align: middle;
    width: 30px;
}
.profile .owl-buttons > div.owl-next {
    background: #2abd68 url("../images/next.png") no-repeat scroll center center;
}
.profile .owl-buttons > div:hover
{
  background-color: #1B85CA;
}
.profile .favrote_button {
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: -8px;
}
.profile .favrote_button a i {
    margin-right: 5px;
    transform: scale(0.8);
}
.profile .favrote_icon {
    background-image: url("../images/favrote_icon.png");
}
.profile .hover_icon a:hover .favrote_icon,
.footer_menu ul li a.active i.favrote_icon{
  background-image: url(../images/favrote_icon_hover.png);
}
.profile .hover_icon a:hover i,
.footer_menu ul li a.active i{
  border-color: #1683CA;
}
.profile .favrote_button a:hover{
  color: #1683CA;
}
.profile .hover_icon a:hover{
  opacity: 1;
}
.profile .download_box_new {
    float: left;
    text-align: center;
    width: 100%;
}
.profile .download_box_new h1 {
    color: #194c7b;
    font-size: 16px;
    margin-top: 0;
    font-weight: normal;
    line-height: 20px !important;
}

.profile .download_box_new ul {
	float: left;
	width: 100%;
	padding: 0;
    margin-top: 10px;
}

.download_box_new img {
    margin-top: 4px;
}
.profile .download_box_new ul li {
	float: none;
	display: inline-block;
	width: auto;
	list-style: none;
	padding: 0 15px;
}

.profile .download_box_new ul li a {
	float: none;
	width: auto;
   }
.profile .download_box_new a > img {
    float: left;
    width: auto;
}

.download_box_new_new img {
    float: none !important;
    margin-right: 10px;
    margin-top: 10px;
}


.profile .download_box_new ul li a p {
	float: left;
	width: auto;
	padding: 0 0 0 5px;
}
.profile .download_box_new ul li a p:last-child{
	margin-top: 22px;
    font-size: 14px;
}
.profile .download_box_new ul li a p > img {
	float: none;
	width: auto;
	padding: 0 0 0 9px;
}

div, a, input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="button"], input[type="reset"], img, ul, ul li, ol, li, ol li, table, tr, td, h1, h2, h3, h4, h5, h6, textarea {
    font-weight: inherit !important;
}

@media (max-width: 530px){
	.profile .default_padding{
		padding: 10px;
	}
}