@import url('owl.carousel.css');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

*{
  box-sizing:border-box;
}
a{
  text-decoration: inherit;
  color: inherit;
}
a:hover,
a:focus{
  opacity: 0.7;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #333333;
  line-height: normal;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  -webkit-overflow-scrolling: touch;

}
body, html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

}
img{
  max-width: 50%;
}

.main_div{
  max-width: 100%;
  margin: 0 auto;
  position: relative; 
  min-height: 100%;
  padding-bottom: 0 !important;
  padding-top: 50px !important;
  min-height: 100% !important;
  height: 100% !important;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
.home_page .main_div{
  padding-bottom: 60px !important;
  padding-top: 0 !important;
}
.home_header{
  background: #0d67a3; /* Old browsers */
  background: -moz-linear-gradient(top,  #0d67a3 0%, #1783cb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d67a3), color-stop(100%,#1783cb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0d67a3 0%,#1783cb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0d67a3 0%,#1783cb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0d67a3 0%,#1783cb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0d67a3 0%,#1783cb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d67a3', endColorstr='#1783cb',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
    padding: 41px 32px 0;
    position: relative;
    height: 357px;
}
.home_title{
background: none repeat scroll 0 0 #f5f5f5;
font-size: 38px;
font-weight: bold;
line-height: 36px;
overflow: hidden;
padding: 24px 20px;
text-align: center;
}
.home_title span{
  display: block;
  font-size: 21px;
  font-weight: normal;

}
.owl-pagination{
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
.home_slider{
  text-align: center;
  padding: 20px 0;
}
.owl-pagination .owl-page{
  width: 9px;
  height: 9px;
  background: #FFF;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 100%;
  float: left;
  margin-bottom: 3px;
}

.owl-pagination .owl-page.active{
  opacity: 0.5;
}
.home_icon{
  text-align: center;
}
.signup_icon{
  overflow: hidden;
}
.signup_icon > .in_icon{
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  float: left;
  height: auto;
  padding: 50px 0;
  width: 50%;
  height: 281px;
}
.signup_icon > .in_icon:last-child{
  border-right: none;
}
.signup_icon .in_icon a span{
display: block;
font-size: 27px;
font-weight: bold;
margin: 15px 0 20px;
}
.toggle_menu {
  left: 0;
  margin: 43px 33px;
  position: absolute;
  top: 0;
  z-index: 99;
  cursor: pointer;
}
.slide_item {
  padding: 48px 0 47px;
}
.searchgine_icon > a {
  display: inline-block;
  padding: 0 33px;
  vertical-align: middle;
}
.searchgine_icon {
  padding: 50px 0;
}
.footer {
  background: none repeat scroll 0 0 #f5f5f5;
  padding: 21px;
  font-size: 16px; 
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.in_icon > a {
  display: inline-block;
  vertical-align: middle;
}
.owl-carousel{
  overflow: hidden;
}

#sb-site{
  height: 100%;
  background: #f5f5f5 !important;
  overflow: hidden !important;
  z-index: inherit;
  }

  .header_nav{
    background: #0c629b; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c629b 0%, #1783cb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c629b), color-stop(100%,#1783cb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c629b 0%,#1783cb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0c629b 0%,#1783cb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb',GradientType=0 ); /* IE6-9 */
    height: 51px;
    padding: 10px 30px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo,
.back_button,
.right_icon{
  position: relative;
  z-index: 2;
  float: left;
}

.logo img {
  max-width: 57px;
}
.right_icon {
  float: right;
  margin-top: -5px;
}
.logo{
  margin: 0 20px;
}
.header_title{
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  left: 0;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.middle_content{
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.default_padding{
  padding: 50px;
  overflow: hidden;
}

.form_row input[type="text"],
.form_row input[type="email"],
.form_row input[type="phone"],
.form_row input[type="text"],
.form_row input[type="password"]{
background: none repeat scroll 0 0 #ffffff;
border: medium none;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: normal;
height: 65px;
line-height: 20px;
margin-bottom: 0;
padding: 20px;
width: 100%;
color: #666666;
border: none;
padding-right: 50px;
}
.form_row{
  border-bottom: 1px solid #EAEAEA;
}
.form_row:last-child{
  border-bottom: none;
}
.form_field,
.shadow_white,
.videoslider{
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
}
.shadow_white{
  background: #FFF;
  margin-bottom: 0px;
}
.submit_button{
  display: block;
  text-align: right;
  
}
.submit_button a{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;

}
.submit_button a img{
  vertical-align: middle;
  margin-right: 10px;
  max-width: 44px;
}
.submit_button a span{
  display: inline-block;
  padding-right: 20px;
  background: url(../images/arrow.png) right center no-repeat;
}

.cercle_i{
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: inline-block;
  height: 30px;
  margin-top: -15px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 30px;
}
.email_icon{
  background: url(../images/email_icon.png) center center no-repeat;
}
.password_icon{
  background: url(../images/password_icon.png) center center no-repeat;
}
.phone_icon{
  background: url(../images/phone_icon.png) center center no-repeat;
}
.form_row{
  position: relative;
  overflow: hidden;
}


.right_icon img {
max-height: 43px;
max-width: 42px;
}
.slide_animatio{
  height: 100%;
  overflow: hidden; 
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.media_list{
  overflow: hidden;

}
.media_list ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.media_list ul li{
background: none repeat scroll 0 0 #ffffff;
border-bottom: 1px solid #f5f5f5;
font-size: 17px;
overflow: hidden;
padding: 13px 30px;
}
.media_list ul li:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.media_list ul li i,
.footer_menu ul li i,
.buttons i,
i.icon_style{
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 52px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-right: 14px;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.buttons i{
  margin-right: 0;margin-left: 10px;
}
.footer_menu ul li i{
  margin-left: 0;
  margin-right: 0;
}
.media_list ul li a:hover{
  opacity: 1;
}
.media_list ul li:nth-child(odd){
  background:#eeeeee;
}

.footer_menu ul li a:hover,
.footer_menu ul li a.active{
  color: #1683CA;
}
.search_icon{
  background-image: url(../images/search_icon.png); 
}
.cup_icon{
  background-image: url(../images/cup.png); 
}
.hover_icon  a:hover .cup_icon{
  background-image: url(../images/cup_hover.png);
}
.hover_icon a:hover{
  opacity: 1;
}
.hover_icon a:hover i,
.footer_menu ul li a.active i{
  border-color: #1683CA;
}
.hover_icon a:hover .search_icon,
.footer_menu ul li a.active i.search_icon{
  background-image: url(../images/search_icon_hover.png);
}
.favrote_icon{
  background-image: url(../images/favrote_icon.png);
}
.hover_icon a:hover .favrote_icon,
.footer_menu ul li a.active i.favrote_icon{
  background-image: url(../images/favrote_icon_hover.png);
}
.group_icon{
  background-image: url(../images/group_icon.png);
}
.hover_icon a:hover .group_icon{
  background-image: url(../images/group_icon_hover.png);
}

.group_message_icon{
  background-image: url(../images/group_message.png) ;
}
.hover_icon a:hover .group_message_icon,
.footer_menu ul li a.active i.group_message_icon{
  background-image: url(../images/group_message_hover.png);
}
.business_icon{
  background-image: url(../images/business_card.png);
}
.hover_icon a:hover .business_icon,
.footer_menu ul li a.active i.business_icon{
  background-image: url(../images/business_card_hover.png);
}
.member_icon{
  background-image: url(../images/member_services.png) ;
}
.hover_icon a:hover .member_icon{
  background-image: url(../images/member_services_hover.png);
}
.coupon_icon{
  background-image: url(../images/mobile_compon.png);
}
.hover_icon a:hover .coupon_icon,
.footer_menu ul li a.active i.coupon_icon{
  background-image: url(../images/mobile_compon_hover.png);
}
.member_group_icon{
  background: url(../images/member_group.png);
}
.hover_icon a:hover .member_group_icon,
.footer_menu ul li a.active i.member_group_icon{
  background-image: url(../images/member_group_hover.png);
}
.g_gmail_icon{
  background: url(../images/g_gmail_icon.png);
}
.g_text_icon{
  background: url(../images/g_text_icon.png);
}
.g_phone_icon{
  background: url(../images/g_phone_icon.png);
}



.share_icon{
  background: url(../images/share.png);
}
.hover_icon a:hover .share_icon,
.share_icon_blue{
  background-image: url(../images/share_hover.png);
}

.single_member_icon{
  background: url(../images/single_member.png);
}
.hover_icon a:hover .single_member_icon{
  background-image: url(../images/single_member_hover.png);
}

.website_icon{
  background: url(../images/website_icon.png);
}
.hover_icon a:hover .website_icon,
.website_icon_blue{
  background-image: url(../images/website_icon_hover.png);
}

.no_media_icon{
  background: url(../images/no_media_icon.png);
}
.hover_icon a:hover .no_media_icon,
.no_media_icon_blue{
  background-image: url(../images/no_media_icon_hover.png);
}

.save_icon{
  background: url(../images/save_icon.png);
}
.hover_icon a:hover .save_icon{
  background-image: url(../images/save_icon_hover.png);
}
.email_icon_s{
  background: url(../images/email_blue.png);
}



.media_list a{
  overflow: hidden;
  display: block;
  position: relative;

}
.media_list a:after{
background:url("../images/arrow.png") no-repeat scroll right center;
content: "";
float: right;
height: 14px;
left: auto;
margin-top: -10px;
position: absolute;
right: 0;
top: 50%;
width: 9px;
}
.sb-slidebar ul li{
  padding: 13px 15px;
}
.right_msg{
  padding-top: 5px;
}
.address_row{
  overflow: hidden;
  background:#FFF;
  padding:30px;
  line-height: 20px;
  font-size: 14px;

    font-weight: 300;
}
.address_row strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}
.phone_no i{
  position: static;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0 ;
}
.address_row span{
  float: right;
}
.fl_left{
  float: left;
}
.default_style p{
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 20px;
}
.company_slider{
  text-align: center;
  padding: 48px 30px 47px;
}
.slide_company_item{
  font-weight: 300;
  margin: 0 auto;
  max-width: 450px;
  padding: 0;
}

.owl-buttons > div{
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  background: #2abd68;
  border-radius: 100%;
  overflow: hidden;
  color: transparent;
  font-size: 0;
}
.company_slider .owl-buttons{
  position: static;text-align: center;
  width: auto;
  margin-top: 10px;

}
.owl-buttons > div.owl-next{
  background: url("../images/next.png") no-repeat scroll center center #2abd68;
}
.owl-buttons > div.owl-prev{
  background: url("../images/prev.png") no-repeat scroll center center #2abd68 ;
}
.owl-buttons > div:hover
{
  background-color: #1B85CA;
}
#home_slider .owl-buttons{
  display: none;
}
.footer_menu{
  background: #ececec;
  padding: 20px;
  overflow: hidden;
}
.footer_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer_menu ul li{
  float: left;
  width: 25%;
  font-weight: 300;
  vertical-align: top;
  text-align: center;
}
.footer_menu ul li span{
  display: block;
  margin-top: 5px;
} 
.white_bg{
  background: #FFF;
   padding: 48px 30px 47px;
    text-align: center;
}
.save_heading {
  margin-bottom: 25px;
}
.save_heading h3{
  color: #2abd68;
  font-size: 30px;
  font-style: italic;
  margin: 0 0 20px;
  padding: 0;
}

.barcode_date{
  margin-bottom: 15px;
}
.save_heading span {
  font-size: 19px;
}
.max_width{
  max-width: 420px;
  margin: 0 auto 20px;
  width: 100%;
}
.arrow_button{
  text-align: center;
}
.arrow_button a{
  font-size: 18px;
  font-weight: bold;
  color: #2191d9;
}
.arrow_button a:after{
  content:"";
  display: inline-block;
  width: 10px;
  height: 20px;
  vertical-align: middle;
  margin-left: 10px;
  background: url(../images/arrow_hover.png) right center no-repeat;
}
.padding_none{
  padding: 0;
}
.search_box{
background: #ffffff none repeat scroll 0 0;
border-bottom: 1px solid #f0f0f0;
overflow: hidden;
padding: 15px 30px;
}
.search_box_in{
  position: relative;
  overflow: hidden;
}
.search_box_in input[type="text"]{
background: #ffffff none repeat scroll 0 0;
border: medium none;
color: #666666;
font-family: Open sans;
font-size: 18px;
height: 54px;
padding: 15px 0;
width: 100%;
}
.buttons{
  float: right;
}
.coupon_list a::after{
  display: none;
}
.coupon_list ul li i{
  height: 42px;
  width: 42px;
  float: right;
  margin-right: 0;
  background-size: 20px auto;
  position: absolute;
  right: 0;
  top: 0;
}
.coupon_list ul li a{
  position: relative;
   font-size: 14px;
   padding-right: 52px;
}
.coupon_list ul li a span{
  display: block;
  padding-bottom: 13px;
  padding-top: 13px;
}
.coupon_list ul li a strong{
  font-weight: 500;
  color: #2191d9;
}
.fixed_search {
  position: absolute;
  top: 0;
  width: 100%;
  height: 85px;
  z-index: 9;
}

.fixed_search_section,
.fixed_search_section .slide_animatio{
  height: 100%;
  overflow: hidden;
}
.fixed_search_section .slide_animatio{
  position: relative;
}
.search_box_in .buttons {
  position: absolute;
  right: 0;
  top: 0;
}
.list_scrolling,
.data_scroll{
  position: relative;
  height: 100%;
  padding-top: 85px;
  overflow: auto;
  
}
.data_scroll{
  padding-top: 0;
}
.header_menu ul li{
  width: 33.33%;
}
.fixed_footer{

  height: 100%;
}
.ft_div_fix{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.fixed_footer{
  padding-bottom: 116px;
}
.search_result_list ul li a span{
  font-size: 14px;
}
.search_result_list ul li a img{
display: block;
margin-bottom: 10px;
max-width: 110px;
}
.search_result_list ul li{
  padding-top: 20px;
  padding-bottom: 20px;   
}
.search_result_list ul li a{
  padding-right: 20px;
}
.videoslider{
  background: #ffffff none repeat scroll 0 0;
  padding:20px;
  text-align: center;
}
.user_list ul li{
  padding: 0;
  padding-right: 30px;
}
.user_list ul li span{
display: block;
font-size: 14px;
overflow: hidden;
padding: 19px 0 6px;
}

.user_list a::after{
  display: none;
}
.user_img{
  float: left;
  margin-right: 30px;
}
.company_symbol{
  max-width: 100px;
  display: block;
  margin-bottom: 10px;
}
.user_list ul li a{
  position: relative;
  overflow: hidden;
  padding-right: 55px;
}
.user_list ul li a i{
margin-right: 0;
margin-top: -28px;
position: absolute;
right: 0;
top: 50%;

}
.user_img > img {
  float: left;
  max-width: 85px;
}
.catgory_list ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.catgory_list ul li{
  font-family: Open sans;
  font-size: 16px;
  font-weight: 100;
  display: block;
  text-align: right;
  padding: 15px 30px;
  background: #FFF;
}
.catgory_list ul li a{
  display: inline-block;
  padding-right: 40px;
  position: relative;
}
.catgory_list ul li.active a{
  color: #2191d9;
}
  
.catgory_list ul li.active a:after,
.cat_title:after,
.append_value:after{
  content: "";
  background: url(../images/cat_active.png) center center no-repeat;
  width: 27px;
  height: 27px;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}
.catgory_list ul li:nth-child(even) {
  background: #eeeeee none repeat scroll 0 0;
}
.cat_header{
  background: #eeeeee none repeat scroll 0 0;
  border-bottom: 1px solid #ffffff;
}

.cat_title{
  font-family: Open sans;
  font-size: 16px;
  font-weight: 100;
  color: #2191d9;
  display: inline-block;
  position: relative;
  padding: 15px 0;
}
.cat_title::after{
  position: static;
  vertical-align: middle;
  margin-left: 10px;
}
.user_slide{
  text-align: center;
}
.user_slide img{
  display: block;
  margin: 0 auto 20px;
  border-radius:100%;
}
.user_slide{
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  padding: 20px;
  color: #3d3e42;
}
.user_name{
  font-size: 16px;
  margin-bottom: 5px;
}
.user_name strong{
  font-size: 19px;
  font-weight: bold;
}

.second_menu{

}
.second_menu ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
.second_menu ul li{
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.second_menu ul li a{
  display: inline-block;
  font-size: 14px;
  color: #2191d9;
  font-weight: normal;

}
.second_menu ul li a i{
 display: block;
 margin: 0 auto 10px;
}
.second_menu {
  clear: both;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  vertical-align: top;
}
.favrote_button {
 float: right;
font-size: 18px;
font-weight: bold;
margin-top: -8px;
}
.left_arrow{
  float: left;
}
.favrote_button a i {
  margin-right: 5px;
  -ms-transform: scale(0.8); /* IE 9 */
  -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
  transform:scale(0.8);
}

.favrote_button a:hover{
  color: #1683CA;
}
.company_detail{
  font-size: 14px;
  line-height: 23px;
}
.company_detail a{ 
  color: #1683CA;
  display: inline-block;
  margin: 3px 0;
}
.company_detail{
  margin-top: 15px;
}
.cmpny_info_slide{
    text-align: left;
}
.cmpny_info_slide img{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  border-radius: 0;
}

.select_menu{
  position: relative;
  padding: 20px;
  height: 65px;
  background: #FFF;

}
.select_menu select{
 border: medium none;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
top: 0;
width: 100%;
}
.append_value{
  color: #2191d9;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  width: 100%;
  padding-top: 4px;
}
.form_row h2 {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border: medium none;
  color: rgb(137, 138, 143);
  font-size: 21px;
  margin: 0;
  padding: 20px;
}
.media_symbol{
  margin-right: 10px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border:2px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px;
  vertical-align: middle;

}
.upload_media{
  background: #FFF;
  padding:15px 20px;
}
.upload_media a{
  position: relative;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #666666;

}
.upload_media a:after{
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
  content: "";
  background: url(../images/plus_icon.png) center center no-repeat;
}
.upload_media a:hover:after{
  background-image: url(../images/plus_icon_hover.png);
}
.upload_media a:hover{
 color: #2191d9; 
}
.media_symbol > img {
  padding: 2px;
}

.submit_button{
  overflow: hidden;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.group_list ul li a i{
  background-size: auto auto;
}
.group_list ul li a i,
.small_icon{
  width: 34px;
  height: 34px;
}
.group_list ul li a strong{
  color: inherit;
}
.group_list ul li a span{
  padding-bottom: 10px;
    padding-top: 10px;
}
.user_content img{
  margin: 0 auto 25px;
}
.user_content h3{
color: #2191d9;
font-size: 24px;
margin: 0 0 20px;
font-weight: 500;
}
.user_content p{
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  margin: 0 0 0 20px ;
}
.padding_top_40{
  padding-top: 40px;
}
.search_padding{
padding-top: 85px;
}
.three_icon ul li{
  width: 33.33%;
}
.green_icon .icon_style{
  border-color:#2ABC67;
}
.green_icon ul li a,
.green_icon ul li a:hover{
 color:#2ABC67; 
}

.coupon_offer img{
margin: 0 auto 20px;
max-width: 90px;
}


.download_box_new {
    text-align: center;
    float: left;
    width: 100%;
}
.download_box_new h1 {
    color: #194c7b;
    font-size: 25px;
    margin-top: 0;
}
.download_box_new a {
    cursor: pointer;
}
.download_box_new a > img {
    margin-top: 10px;
}