label.error {
    color: #FF0000;
    font-size: 13px;
    font-weight: normal;
    padding-bottom:0px;
}
.inputText.username label.error,
.inputText.username2 label.error,
.inputText.password label.error,
.inputText.password2 label.error,
.inputText.firstname label.error,
.inputText.lastname label.error,
.inputText.phone label.error,
.inputText.phone2 label.error,
label.error{
    display:none !important;
    text-indent:-9999em;
}
.inputText input.error,
input.error,
textarea.error{
    border:1px solid #ff0000 !important;
    margin-top: -1px;
    border-radius: 4px !important;
}

.pre_loader_main {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.next_step_main_1 label.error,
.next_step_main_2 label.error {
    display:none !important;
    text-indent:-9999em;
}

.next_step_main_1 input.error,
.next_step_main_1 select.error,
.next_step_main_2 input.error,
.next_step_main_2 select.error {
    border:1px solid #ff0000;
    margin-top: -1px;
}

.error_bor {
    border:1px solid #ff0000;
    margin-top: -1px;
}


/*-------------------------*/
.paging {
    float: left;
    padding:10px 0 15px;
    width: 100%;
}
.paging ul {
    margin:0px;
    padding:6px 20px 0 0;
    float:right;
}
.paging ul li {
    margin:0px;
    padding:0px;
    float:left;
}
.paging ul li a {
    margin:0px 0 0 2px;
    padding:6px 9px 7px 10px;
    font-size:12px;
    text-transform:uppercase;
    color:#666666;
    line-height:12px;
    float:left;
}
.paging ul li a.active, .paging ul li a:hover {
    background: -moz-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0c629b), color-stop(100%, #1783cb));
    background: -webkit-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -o-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -ms-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: linear-gradient(to bottom, #0c629b 0%, #1783cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb', GradientType=0);
    box-shadow: 0 0 5px -1px #1783cb inset;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    color:#fff;
}

.fancybox-inner {
    background:#E7EDF2;
}
.fullview_clients{
    padding: 25px;
}

.alert-box {
    background: none repeat scroll 0 0 #E9EDF2;
    border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    -moz-border-radius:6px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
    /*margin: 150px auto 150px;*/
    min-width: 320px;
    position: relative;
}

.error-title {
    background: #1783cb;
    background: -moz-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0c629b), color-stop(100%, #1783cb));
    background: -webkit-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -o-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -ms-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: linear-gradient(to bottom, #0c629b 0%, #1783cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cbs', GradientType=0);
    color:#fff;
    padding:16px;
    border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    -ms-border-radius:6px 6px 0 0;
    -moz-border-radius:6px 6px 0 0;
}
.error-title span {
    display:inline-block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding-left:10px;
}
.error-title a.close {
    height: 34px;
    position: absolute;
    right: 4px;
    top: 10px;
    width: 38px;
    background: url(../../images/fancybox_sprite.png) no-repeat left top;
}
.error-txt {
    font-size:15px;
    color:#333;
    padding:20px 16px;
    line-height:20px;
    text-align:center;
}
.button-div {
    float:left;
    width:100%;
    margin:0px 0 1.6em 0;
    padding:0px;
    text-align:center;
}

.button-div a {
    display:inline-block;
    min-width:100px;
    padding:10px 0;
    margin:0 5px;
    color:#fff;
    font-size:15px;
    line-height:15px;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    background: #1783cb;
    background: -moz-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0c629b), color-stop(100%, #1783cb));
    background: -webkit-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -o-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -ms-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: linear-gradient(to bottom, #0c629b 0%, #1783cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb', GradientType=0);
}
.button-div a:hover {
    background: -moz-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0c629b), color-stop(100%, #1783cb));
    background: -webkit-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -o-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -ms-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: linear-gradient(to bottom, #0c629b 0%, #1783cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb', GradientType=0);
}

.fullview_clients {
    float: left;
    max-width: 770px;
    min-width: 500px;
    width: 100%;
}

/*.subRow.light {
    background:#F2F5F7;
}*/
/*.enterTitle {
    display:block;
    padding:16px;
    border-top:1px solid #D7D9DB;
}
.enterTitle.main h1 {
    color:#fff;
}
.enterTitle.main {
    background: #1783cb;
    background: -moz-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0c629b), color-stop(100%, #1783cb));
    background: -webkit-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -o-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: -ms-linear-gradient(top, #0c629b 0%, #1783cb 100%);
    background: linear-gradient(to bottom, #0c629b 0%, #1783cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c629b', endColorstr='#1783cb', GradientType=0);
    color:#fff;
    border-top:none;
}
.enterTitle b {
    display: inline-block;
    width: 28%;
    font-weight:600;
    font-size:14px;
    vertical-align: top;
}
.enterTitle span {
    display: inline-block;
    width: 6%;
    vertical-align: top;
}
.enterTitle p {
    display: inline-block;
    width: 50%;
    font-size:13px;
    vertical-align: top;
}*/
.enterTitle p a {
    text-decoration:none;
    color:#666;
}
.enterTitle p a:hover {
    color:#000;
}

.no-record {
    float: left;
    margin-left: 20px;
}

.profile_link {
    color: #147dc1;
}

.profile_link:hover {
    color: #000;
}

label.error_msg {
    display: block !important;
    color: #FF0000;
    font-size: 13px;
    font-weight: normal;
    padding-bottom:0px;
}

#infscr-loading {
background: rgb(245, 245, 245) none repeat scroll 0 0;
border-radius: 5px;
bottom: 0;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
left: 50%;
margin-bottom: 20px;
margin-left: -25px;
opacity: 0.8;
padding: 10px;
position: fixed;
text-align: center;
display: none;
text-indent: -999em;
}
#infscr-loading img {
    display: block !important;
}

.card_step_4 .main-row a,
.card_step_5 .main-row a,
.next_step_main_2 .main-row a,
.msg_filesddd #vediosPlay1,
.msg_filesddd #vediosPlay, {
    color: #147dc1;
}

.card_step_5 .main-row a:hover,
.card_step_4 .main-row a:hover,
.next_step_main_2 .main-row a:hover,
.msg_filesddd #vediosPlay1:hover,
.msg_filesddd #vediosPlay:hover {
    color: #000;
}

.card_step_5 #removeLink,
.card_step_4 #removeLink,
.next_step_main_2 #removeLink,
.msg_filesddd #removeLink {
    color: #000;
    cursor: pointer;
}
.card_step_5 #removeLink:hover,
.card_step_4 #removeLink:hover,
.next_step_main_2 #removeLink:hover,
.msg_filesddd #removeLink:hover {
    color: #147dc1;
}

.msg_filesddd {
    float: left;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 100%;
}
.service-text {
    display: block;

}
.service-text a{
    background-image: url("../images/service-title-icon.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-size: 23px;
    font-weight: 300;
    height: 55px;
    margin-top: 15px;
    padding-right: 72px;
    padding-top: 10px;
    text-decoration: none;
    float:left;
}

.step-button-5 {
    float: right;
    width: auto;
}

.step-button-5.last {
    margin-right: 10px;
}

.step-button-5 [type="submit"] {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    width: auto;
    background-image: url("../images/save-icon.png");
    background-position: 0% 0px;
    background-repeat: no-repeat;
    height: 46px;
    line-height: 46px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 55px;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.step-button-5 [type="submit"]:hover {
    background-image: url("../images/save-icon-hover.png");
    color: #2191d9;
}

.admin_memebr_t_l{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: #2abc67;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.admin_memebr_t_l_in {

}


.fancybox-close::before, .fancybox-close::after,
.close_video::before, .close_video::after {
  background: #1070ad none repeat scroll 0 0;
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  transform: rotate(45deg);
  width: 2px;
  left: 0;
}
.fancybox-close::after,
 .close_video::after{
left: 1px;
right: 0;
top: 0;
transform: rotate(-45deg);
}
body .fancybox-close,
.close_video{
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 36px;
  z-index: 8040;
  font-size: 0;
}
.videoslider_main{
    position: relative;
}

.close_video{
    right: -20px;
top: -35px;
}

.second_menu ul li a i.no_media_icon_new {
    background-image: url("../images/no_media_icon.png");
}

.fancybox-close, .close_video {
    background: none;
}

.global_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    background: none repeat scroll 0 0 rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-left: -25px;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}
.global_loader .pre_loader_main {
    margin-bottom: 0;
}