
@media handheld, only screen and (max-width: 1170px) {
	
.row{
	max-width: 100%;
	float: left;
}
.left-image-section{
	padding: 0px 0px 0px 0px;
}
.left-image-section-1{
	padding: 0px 0px 0px 0px;
}
.right-form-section{
	padding: 60px 0px 0px 0px;
	width: 55%;
}
.right-form-section-1 {
  padding: 60px 0 0;
  width: 55%;
}
.footer{
	padding: 1px 15px 55px;
}
.main-call {
  padding: 0 25px;
}
.content-section{
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.content-section-01{
height: auto;
padding: 20px 15px;
}
.group-setion{
	padding-left: 15px;
	padding-right: 15px; 
}
.group-setion-row{
  margin-left: 0px;
  margin-right: 0px;
  }
.member-page-setion-1{
  padding-left: 15px;
  padding-right: 15px;
}
.step-page-section{
  padding-left: 15px;
  padding-right: 15px;
}
.right-form-section h1{
  font-size: 24px;
}

}

@media handheld, only screen and (max-width: 1023px) {
  .search-group-section  .step-list ul{
    max-width: 250px;
  }
  .search-group-section .menu_cr_click ul{
    max-width: 600px;
  }
  .step-list li{
    display: table-cell;
float: none;
vertical-align: top;
width: 20%;
  }
  .step-list ul{
    width: 100%;
    display: table;
    margin: 0 auto;
  }
  .step-list li:after{
  background-color: #e1e1e1;
  content: "";
  float: left;
  height: 2px;
  margin: 0 10px 0 8px;
  position: relative;
  top: 22px;
  width: 71px;
}
  .step-list li::before,
  .step-list li:after{
  left: 0;
  max-width: none;
  position: absolute;
  top: 20px;
  width: 50%;
  margin: 0;
  }
  .step-list li:after{
    left: auto;
    right: 0;
  }
  .step-list li a span{
    position: relative;
    z-index: 100;
    background: #FFF;
  }
 
  .step-list li a{
    font-size: 0;
  }
  .step-list li a span{
    font-size: 23px;
  }
  .step-list li:before{
    position: absolute;
  }
  .three_col1 {
  padding: 0 10px 20px;
}
  .search-section-left{
    width: 65%;
  }

.left-image-section {
  width: 37%;
}
.left-image-section-1 {
  width: 37%;
}
.right-form-section{
	padding: 0px 0px 0px 0px;
	width: 60%;
}
.right-form-section-1 {
  padding: 0px 0 0;
  width: 60%;
}
.right-form-section-form {
  width: 100%;
  margin-top: 12px;
}
.button-section{
	width: 100%;
}
.google-play-section{
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.google-play-section-1{
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.apple-button{
	width: 48%;
}
.google-play-button{
	width: 48%;
}
.button-section {
  margin-top: 30px;
}
#frmMember .button-section{
  margin-top: 50px;
}
.footer{
	padding-bottom: 30px;
}
.right-form-section-1 p br{
		display: none;
	}
.main-call {
  padding: 0 10px;
}
.group-setion-col{
  		width: 31.5%;
  }

}

/* Mobile */
@media handheld, only screen and (min-width: 768px) {
.register-height .left-image-section {
  bottom: 0;
  position: absolute;
}

}

@media handheld, only screen and (max-width: 768px){
  .copy-right {
  width: 100%;
  text-align: center;
}
}
@media handheld, only screen and (max-width: 767px) {

  .abt_profile ul li {
    display: block;
    margin: 0 0 20px;
}
  .new-address1 {
    width: 100%;
  }
  .new-structure1 .map_div {
    width: 100%;
  }
  .new-structure1 img {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
  
  .container.step-page-section img {
    width: 100%;
  }
  .container.step-page-section #contact_us {
    width: 100%;
    margin:30px 0 0 0;
  }
  .bottom-link ul {
    text-align: center;
  }
  .bottom-link ul li:before {
    content: none;
  }
.bottom-link ul li {
    display: inline-block;
    float: none;
    margin: 15px 0 0;
    padding: 0 !important;
    width: 100%;
}
  .bottom-link ul 
  .three_col1 {
    width: 50%;
  }
  .left-image-section {
    display: none;
  }
	
.left-image-section{
	width: 100%;
	text-align: center;
}
.left-image-section-1{
	width: 100%;
	text-align: center;
}
.right-form-section{
	width: 100%;
	padding-top: 0px;
	padding-bottom: 30px;
}
.right-form-section-1{
	width: 100%;
	padding-top: 0px;
	padding-bottom: 30px;
}
.copy-right{
font-size: 14px;
padding-bottom: 2px;
text-align: center;
width: 100%;
}
.bottom-link ul li{
  font-size: 14px;
}
.bottom-link{
	width: 100%;
	text-align: center;
}
.bottom-link ul{
	display: inline-block;
}
.main-call {
  padding: 0 21px;
}
.main-call {
  padding: 0 38px;
}
.footer {
  height: auto;
  line-height: normal;
  padding: 15px;
}
.left-image-section-1{
		padding-bottom: 30px;
}
.left-image-section{
	padding-bottom: 30px;
}
.bottom-link ul li.bg-line-menu {
  background-position: 100% 5px;
}
.group-setion-col{
  		width: 48%;
  }
.member-ul-tab ul{
  width: 100%;
}
.form-main{
   width: 100%;

}
.right-form-section{
  padding-bottom: 0;
}
.default_content  h1{
  font-size: 20px;
  margin-bottom: 15px;
}
}

@media handheld, only screen and (max-width: 639px) {
	.main-call {
  		padding: 0 11px;
 }

}

@media handheld, only screen and (max-width: 479px) {
  .fullview_clients{
     min-width: 250px;
  }
	.responce_title h1{
    padding-top: 0;
  }
.header-left{
float: none;
line-height: 19px;
overflow: hidden;
padding: 15px 0;
text-align: center;
width: auto;
}
.header .head_bak a {
  margin: 0 15px 0 0;
}
.head_bak{
  margin-top: 5px;
}
.cre-botton {
  float: right;
  text-align: center;
  width: 100%;
}
.cre-botton a {
  display: inline-block;
  float: none;
  margin-bottom: 20px;
  margin-top: 0;
}
.group-cre-botton {
  text-align: center;
  width: 230px;
  margin: 0px auto;
  float: none;
  clear: both;
  display: block;
}
.head_bak{
  width: auto;
  float: left;
  margin-top: 10px;
}
.group-cre-botton a {
  display: inline-block;
  float: none;
  margin: 0 10px 15px;
}
.header-top-right-text {
display: inline-block;
float: none;
padding: 10px;
text-align: left;
 
}
.logo-section {
  height: auto;
}
.logo{
	padding: 25px 0px;
}
.logo img{
	width: 50%;
}
.create-accoumt a {
  background-size: 25px auto;
  font-size: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-top: 12px;
}
.login a{
  background-size: 25px auto;
  font-size: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-top: 12px;
}
.page-title h1 {
  font-size: 26px;
  line-height: 30px;
}
.page-title p {
  font-size: 17px;
  line-height: 17px;
}
.right-form-section-1 h1{
	font-size: 20px;
	padding-bottom: 5px;
}
.right-form-section-1 p{
	font-size: 14px;
	line-height: 24px;
}
.main-call-fist{
	padding: 0px;
}
.main-call {
 border-style: solid;
 border-color:#f2f2f2 ;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 15px;
  padding: 0 0 15px !important;
  text-align: center;
  width: 100%;
}
.main-call-last{
	padding: 0px;
}
.page-title{
	height: auto;
	padding-top: 15px;
}
.login-arrow {
  background-position: 70% 6px;
}
.group-setion-col{
  		width: 100%;
  		margin: 0px 0px 24px;
  		padding: 0px;
  }
  .search-group-section{
  	height: auto;
  	padding: 20px 15px;
  }
.search-section-left {
  float: none;
  margin: 0 auto;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
  .search-section-left input[type="search"]{
  	width: 80%;
  }
  .search-section-right{
  float: none;
  margin: 20px auto;
  width: 170px;
  overflow: hidden;
}
.group-add-text a{
	margin: 0px;
}

.checkbox label{
  width: 100%;
  margin-bottom: 15px;
}
.step-button-row{
  padding: 0px 10px;
}
.fullview_clients {
  float: left;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

body .enterTitle > b {
  float: left;
  margin-right: 10px;
  width: 122px;
}
body .enterTitle > span {
  display: none;
}
body .enterTitle > p {
  overflow: hidden;
  width: auto;
}
}





/*---------------Start Media For Retina ----------------*/
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 


}

/*--------------- Greater than ie10 -----------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	
} 



