/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0; -webkit-text-size-adjust: none;}
article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}
a img{border:0}
figure{position:relative}
figure img{width:100%}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html, body{
    position: relative;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}


.clr:before, 
.clr:after, 
.container:before, 
.container:after, 
.row:before, 
.row:after
 {
    display: table;
    content: " "
}

.clr:after, 
.clr:after, 
.row:after
 {
    clear: both
}


img, object, embed {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: top;
}


input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="button"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea
{
    -webkit-appearance: none !important;
    border-radius: 0;
}
::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #666666;
}

:-moz-placeholder {
     opacity: 1 !important;
     color: #666666;
}
::-moz-placeholder {
     opacity: 1 !important;
     color: #666666;
}
:-ms-input-placeholder {  
    opacity: 1 !important;
    color: #666666;
}
*, img, a {
	outline:none;
}

a {
    text-decoration: none
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6, ul, li {
    font-weight:normal;
}

h1{
}

.table{
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}


.inline-block-outer:before{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.inline-block-outer{
    height: 100%;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}
.header{
    height: 59px;
    display: block;
}
.header-left{
    float: left;
    width:auto;
    font-weight: 300;
    font-size: 15px;
    color: #333333;
    text-align: left;
    padding: 18px 0px;
}
.cre-botton{
    float: right;
    width:auto;
}
.cre-botton a{
    float: left;
    width:132px;
    height:39px;
    line-height: 38px;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    background-color: #2191d9;
    border-radius: 4px;
    font-weight: normal;
    margin-top: 10px;
}
.cre-botton a:hover{
        opacity: 0.7;
    }
.group-cre-botton{
    float: right;
    width:auto;
}
.group-cre-botton a{
    float: left;
    /*width:132px;*/
    padding: 0px 28px;
    height:39px;
    line-height: 38px;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    background-color: #2191d9;
    border-radius: 4px;
    font-weight: normal;
    margin-top: 10px;
}
.group-cre-botton a:hover{
        opacity: 0.7;
    }
.header-top-right-text{
    float: left;
    width:auto;
    font-weight: 300;
    font-size: 15px;
    color: #333333;
    text-align: left;
    padding: 18px 27px 18px 0px;
}
.logo-section{
    float: left;
    width:100%;
    height: 258px;
    background-image: url("../images/bg-line.jpg");
    background-position: 0 0;
    background-repeat: repeat-x;

}
.logo-section-group{
    height: 174px;
    background-image: url("../images/bg-line-2.jpg");
}
.logo{
    display: block;
    text-align: center;
    padding-top: 47px;
}
.logo-group1{
    padding-top: 38px;
    }
.logo > a {
  display: inline-block;
}
.content-section-01 {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  height: 639px;
  padding: 67px 0px 0px 0px;
}

.content-section {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  height: 634px;
  padding: 63px 0px 0px 0px;
}
.left-image-section{
    float: left;
    width: auto;
    padding: 0px 33px 0px 67px;
}
.right-form-section {
  float: right;
  padding: 47px 0 0 67px;
  width: 640px;
}
.right-form-section h1{
    color: #333333;
    font-size: 31px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    display: block;
}
.right-form-section-form {
    float: left;
    width: 480px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(212,212,212,0.5);
-moz-box-shadow: 2px 2px 1px 0px rgba(212,212,212,0.5);
box-shadow: 2px 2px 1px 0px rgba(212,212,212,0.5);
margin-top: 27px;
}
.error1{
    width: 100%;
    float: left;
    position: relative;
}
.right-form-section-form input[type="email"]{
    display: block;
    border: 0px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 0px;
     border-right: 0px;
      border-left: 0px;
    /*height: 66px;
    line-height: 66px;*/
    padding-top:24px ;
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 22px;
    width: 100%;
    position:relative;
    color: #666666;
    border-radius: 4px 4px 0px 0px;
    padding-right: 63px;
}
.email-icon,
.user-icon,
.phone-icon{
    position: absolute;
    content: "";
    right:15px;
    top: 18px;
    background-image: url("../images/email-icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.user-icon{
  background-image: url("../images/user-icon.png");

}
.phone-icon{
  background-image: url("../images/phone-icon.png");
}
.closed-icon{
    position: absolute;
    content: "";
    right:15px;
    top: 18px;
    background-image: url("../images/closed-icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.right-form-section-form input[type="text"],
.register-height .right-form-section-form input[type="password"]{
    display: block;
    border: 0px;
    border-bottom: 1px solid #e7e7e7;
    /*height: 66px;
    line-height: 66px;*/
     padding-top:24px ;
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 22px;
    width: 100%;
    color:#666666;
    border-radius: 0px 0px 4px 4px;
    padding-right: 63px;
}
.right-form-section-form input[type="password"]{
    display: block;
    border: 0px;
    border-bottom: 0px solid #e7e7e7;
    /*height: 66px;
    line-height: 66px;*/
     padding-top:24px ;
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 22px;
    width: 100%;
    color:#666666;
    border-radius: 0px 0px 4px 4px;
    padding-right: 63px;
}
input:focus{
    border: 0px;
    outline: 0px;
}
.button-section{
    float: left;
    width: 481px;
    margin-top: 45px;
}
.create-accoumt{
    float: left;
    width: auto;
   
}
.create-accoumt > a{
     background-image: url("../images/account-icon.jpg");
    background-position: 0 8px;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 16px;
    padding-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    }
.create-accoumt > a:hover{
    opacity: 0.7;
}
.login{
    float: right;
    width: auto;
   
}
.login-arrow {
  background-image: url("../images/login-right-arrow.jpg");
  background-position: 100% 11px;
  background-repeat: no-repeat;
  float: right;
  height: 100%;
  padding: 12px 0;
  text-align: right;
  width: 21px;
}
.login a{
     background-image: url("../images/login-right-icon.jpg");
    background-position: 0 8px;
    background-repeat: no-repeat;
    padding-left: 52px;
    padding-top: 16px;
    padding-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    padding-right: 0px;
    text-decoration: none;
    }
.login a:hover{
    opacity: 0.7;
}
.google-play-section{
    float: left;
    width: 480px;
    margin-top: 69px;
}
.google-play-section-1 {
  float: left;
  margin-top: 55px;
  width: 473px;
}
.apple-button{
    float: left;
    width: auto;
    display: inline-block;
}
.google-play-button{
    float: right;
    width: auto;
    display: inline-block;
}
.footer{
    float: left;
    width: 100%;
    display: block;
    padding: 0px 0px 0px 0px;
    background-color: #f5f5f5;
    height: 130px;
    line-height: 130px;

}
.footer-1{
         background-color: #ffffff;
    }
.copy-right{
    float: left;
    width: auto;
    font-size: 17px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.copy-right span{
    font-weight: bold;
    }
.bottom-link{
    float: right;
    width: auto;
    display: inline-block;
     margin-top: 3px;
}
.bottom-link ul{
    margin: 0px;
    padding: 0px;
    }
.bottom-link ul li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
     float: left;
     position: relative;
    width: auto;
    font-size: 15px;
    margin: 0 0 0 7px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    }
    .bottom-link ul li.bg-line-menu:before {
  content: none;
}
    .bottom-link ul li:before {
       color: #2191d9;
    content: "/";
    font-size: 17px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 0;
    }
.default_content p a ,
.default_content a{
  color: #2191d9;
}
.default_content h1 ,
.default_content h2 ,
.default_content h3 ,
.default_content h4 ,
.default_content h5  {
  font-weight: bold;
}
.default_content p a:hover ,
.default_content a:hover {
  color: #606060;
}
.bottom-link ul li.bg-line-menu {
  background-image: url("../images/bottom-menu-middle-line.png");
  background-position: 100% 60px;
  background-repeat: no-repeat;
  padding-right: 15px;
}
.bottom-link ul li.menu-last {
    padding-left: 12px;
}
    .bottom-link ul li.bg-line-menu {
      padding: 0;
      background: none;
    }
.bottom-link ul li a{
   color: #000000;
   text-decoration: none;
}
.bottom-link ul li a:hover{
   opacity: 0.7;
}
.page-title{
    width: 100%;
    float: left;
    display: block;
    padding-top: 25px;
    padding-bottom: 20px;
    height: 120px;
    background-color: #f5f5f5;
    margin-top: -1px;
}
.page-title h1{
    width: 100%;
    float: left;
    display: block;
    color: #333333;
    font-size: 38px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    }
.page-title p{
    width: 100%;
    float: left;
    display: block;
    color: #333333;
    font-size: 21px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
     font-family: 'Roboto', sans-serif;
    }

.left-image-section-1{
    float: left;
    width: auto;
    padding: 0px 33px 0px 45px;
}
.right-form-section-1 {
  float: right;
  padding: 38px 0 0 0px;
  width: 594px;
}
.right-form-section-1 h1{
    color: #333333;
    font-size: 29px;
    line-height: 30px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    display: block;
    padding-bottom: 20px;
}
.right-form-section-1 p{
    color: #333333;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    float: left;
    width: 100%;
    display: block;
}
.call-section {
  float: left;
  padding:43px 0px 0px 0px;
  width: 100%;
  display: block;
}
.main-call{
    /*width: 33.33333333333333%;*/
    /*width: 190px;*/
    width: auto;
    float: left;
    border-right: 1px solid #ededed;
    padding: 0px 48px 0px 43px;
}
.main-call-fist{
    padding-left: 0px;
    }
.main-call-last{
    padding-right: 0px;
    border-right: 0px;
    }
.call-image{
    display: block;
    text-align: center;
    padding-bottom: 17px;
}
.main-call h3{
        display: block;
        color: #333333;
        font-size: 25px;
        line-height: 25px;
        font-weight:500 ;
        padding:0px 0px 0px 0px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
.main-call p{
        display: block;
        color: #333333;
        font-size: 16px;
        line-height: 25px;
        font-weight:normal ;
        padding:0px 0px 0px 0px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
.search-group-section {
    width: 100%;
    height: 82px;
    float: left;
    background-color: #ffffff;
}
.search-section-left{
float: left;
margin: 15px 0 0;
padding-right: 65px;
position: relative;
width: 40%;
}
.search-section-left input[type="search"] {
background: transparent;
border: 2px solid #f1f1f1;
border-radius: 55px;
color: #666666;
float: left;
font-family: "Open Sans",sans-serif;
font-size: 18px;
font-weight: 300;
height: 48px;
line-height: normal;
padding: 7px 19px;
text-align: left;
width: 100% !important;
}
.search-section-left input[type="submit"] {
  background-color: transparent;
  background-image: url("../images/search-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0 none;
  cursor: pointer;
  height: 48px;
  line-height: 50px;
  margin: 0 0 0;
  width: 48px;
}
.search-section-right{
    float: right;
    width: auto;
}
.group-add-text {
  display: block;

}
.group-add-text a{
  background-image: url("../images/group-icon.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-size: 23px;
  font-weight: 300;
  height: 55px;
  margin-top: 15px;
  padding-right: 72px;
  padding-top: 10px;
  text-decoration: none;
  float:left;

}
.request-add-text a{
    background-image: url("../images/reqeust-icon.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-size: 23px;
    font-weight: 300;
    height: 55px;
    margin-top: 15px;
    padding-right: 72px;
    padding-top: 10px;
    text-decoration: none;
    float:left;

}
.coupons-text {
  display: block;

}
.coupons-text a{
  background-image: url("../images/coupons-title-icon.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-size: 23px;
  font-weight: 300;
  height: 55px;
  margin-top: 15px;
  padding-right: 72px;
  padding-top: 10px;
  text-decoration: none;
  float:left;

    }
.messages-title-text {
  display: block;

}
.messages-title-text a{
  background-image: url("../images/message-title-icon.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-size: 23px;
  font-weight: 300;
  height: 55px;
  margin-top: 15px;
  padding-right: 72px;
  padding-top: 10px;
  text-decoration: none;
  float:left;

    }

  .group-setion{
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  height: auto;
  padding: 40px 0px 17px 0px;
}
.group-setion-row{
  margin-left: -10px;
  margin-right: -10px;
  }
.group-setion-col{
  margin-left: 0.9%;
  margin-right: 0.8%;
  margin-bottom: 24px;
  background-color: #ffffff;
  width: 23.3%;
  float: left;
  border-radius: 4px;
   -webkit-box-shadow: 2px 2px 2px 0px rgba(212,212,212,0.4);
-moz-box-shadow: 2px 2px 2px 0px rgba(212,212,212,0.4);
box-shadow: 2px 2px 2px 0px rgba(212,212,212,0.4);
height: 301px;
position: relative;

}
.group-setion-col-hover{
  position: absolute;
  display: table;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
    
  }
   .group-setion-col-hover .hover-icon{
      display: none;
   }
  .group-setion-col-hover:hover{
       background-color: rgba(13,103,162,0.8);
        height: 100%;
         border-radius: 4px;
  }
  .group-setion-col-hover:hover .hover-icon{
       display: table-cell;
       vertical-align: middle;
        text-align: center;
        height: 40px;
        width: 100%;
  }
  .hover-icon-margin{
      margin-right: 7px;
  }
.group-setion-col-last{
   margin-right: 0px;
  }
  
.group-setion-col-img{
    width: 100%;
    text-align: center;
    float: left;
    padding: 68px 0px 18px 0px;
}
.group-setion-col-img-1{
    padding: 38px 0px 18px 0px;
}
.group-setion-col-h3{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #3d3e42;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }
  .group-setion-col-green{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #2abd68;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 6px;
  }
  .coupons-normal-text{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    color: #3d3e42;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }
.coupons-normal-blue-text{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #2191d9;
    font-family: 'Roboto', sans-serif;
    padding-top: 3px;
  }
  .group-setion-col-p{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    color: #3d3e42;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    
  }
    .group-setion-col-p-1{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #3d3e42;
    font-family: 'Roboto', sans-serif;
  }
  .member-tab-section{
    width: 100%;
    height: 124px;
    float: left;
    background-color: #ececec;
    padding: 0px 15px;
  }
  .member-ul-tab{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 22px;
  }
  .member-ul-tab ul{
   margin: 0px auto;
   padding: 0px;
   text-align: center;
   width: 600px;
   overflow: hidden;

  }
   .member-ul-tab li{
    list-style-type: none;
    text-align: center;
    float: left;
    width: 25%;
  }
  .member-ul-tab li.last{
    padding-right: 0px;
  }
  .member-ul-tab a {
  display: block;
}
  .member-ul-tab li img{
    display: inline-block;
    text-align: center;
  }
 
   
  .member-ul-tab li a .list-name{
     text-align: center;
     display: block;
     font-size: 14px;
     color: #898a8f;
     font-weight: 300;
     font-family: 'Roboto', sans-serif;
     padding: 5px 0px 0px 0px;
  }
    .member-ul-tab li a:hover .list-name{
    color: #2191d9;
  }
   .member-ul-tab li a .list-active-name{
    color: #2191d9;
  }

   .member-ul-tab li a .services-img{
    width: 100%;
    height: 56px;
    background-image: url("../images/servises-icon.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  }

  .member-ul-tab li a:hover .services-img  {
      background-image: url("../images/servises-hover.png");
      
  }
   .member-ul-tab li a .services-active-img  {
      background-image: url("../images/servises-hover.png");
      
  }

   .member-ul-tab li a .members-img{
    width: 100%;
    height: 56px;
    background-image: url("../images/member.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  }

  .member-ul-tab li a:hover .members-img  {
      background-image: url("../images/member-hover.png");
      
  }
   .member-ul-tab li a .members-active-img  {
      background-image: url("../images/member-hover.png");
      
  }

  .member-ul-tab li a .coupons-img{
    width: 100%;
    height: 56px;
    background-image: url("../images/coupons-icon.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  }

  .member-ul-tab li a:hover .coupons-img  {
      background-image: url("../images/coupons-hover.png");
      
  }
   .member-ul-tab li a .coupons-active-img  {
      background-image: url("../images/coupons-hover.png");
      
  }

  .member-ul-tab li a .messages-img{
    width: 100%;
    height: 56px;
    background-image: url("../images/messages-icon.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  }

  .member-ul-tab li a:hover .messages-img  {
      background-image: url("../images/messages-hover.png");
      
  }
   .member-ul-tab li a .messages-active-img  {
      background-image: url("../images/messages-hover.png");
      
  }
.member-ul-tab li a .request-img{
    width: 100%;
    height: 56px;
    background-image: url("../images/reuest.png");
    background-position: center top;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
}

.member-ul-tab li a:hover .request-img  {
    background-image: url("../images/requet-hover.png");

}
.member-ul-tab li a .request-active-img  {
    background-image: url("../images/requet-hover.png");

}

  .member-page-setion-1 {
    background-color: #f5f5f5;
    display: block;
    float: left;
    height: auto;
    padding: 29px 0;
    position: relative;
    width: 100%;
}
  .result-section{
    float: left;
    width: 100%;
    display: block;
    height: 55px;
    margin-bottom: 20px;
  }
  .result-text{
    width: auto;
    float: left;
     font-size: 23px;
     line-height: 55px;
     color: #333333;
     font-weight: 300;
     font-family: 'Roboto', sans-serif;
     padding: 0px 0px 0px 0px;
  }
  .result-add-remove-icon{
      float: right;
      width: auto;
  }
  .result-add-remove-icon a.file-icon{
      width: 55px;
      height: 55px;
       background-image: url("../images/file-icon.png");
     background-position: center top;
     background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
  }
   .result-add-remove-icon a.file-icon:hover{
    background-image: url("../images/file-hover.png");
   }
  .result-add-remove-icon a.pluse-icon,
  .add_new_option,
  .remove_new_option{
      width: 55px;
      height: 55px;
       background-image: url("../images/pluse-icon.png");
     background-position: center top;
     background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
  }
  .result-add-remove-icon a.pluse-icon:hover{
      background-image: url("../images/pluse-hover.png");
  }
  .step-list{
   text-align: center;
   width: 100%;
   display: block;
   padding-top: 18px;
  }
  .step-list ul{
    display: inline-block;
    text-align: center;
    width: auto;
  }
   .step-list li{
      list-style-type: none;
      float: left;
      width: auto;
      margin: 0px;
      position: relative;
   }
   .step-list li:first-child:before,
   .step-list li:last-child:after{
      display: none;
   }
  .step-list li:before{
      position: relative;
      content: "";
      height: 2px;
      width: 71px;
      background-color: #e1e1e1;
      margin: 0px 10px 0px 8px;
      top: 22px;
      float: left;
  }
   .step-list li a{
    text-decoration: none;
    color: #898a8f;
    font-size: 23px;
    font-weight: 300;
    display: inline-block;
   }
   .step-list li a span{
       border-radius: 50%;
       width: 46px;
       height: 46px;
       line-height: 42px;
       border: 2px solid #dddddd;
       display: inline-block;
       margin-left: 5px;

   }
   .step-list li a.active{
    color: #2191d9;
   }
   .step-list li a.active span{

    background-color: #2191d9;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 0;
    width: 46px;
   }

  .step-page-section {
    background-color: #f5f5f5;
    display: block;
    float: left;
    height: auto;
    padding: 42px 0;
    position: relative;
    width: 100%;
}
.form-main{
    width: 555px;
    float: none;
    margin: 0px auto;
}
.form-main label{
    display: block;
    width: 100%;
    float: left;
    padding: 0px 0px 15px;
    color: #333333;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
  }

.form-main input[type="text"],
.form-main input[type="password"],
.form-main input[type="file"]{
  border-radius: 4px;
  box-shadow: 2px 2px 1px 0 rgba(212, 212, 212, 0.5);
  float: left;
  margin-top: 0px;
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  line-height: 58px;
  border: 0px;
  color: #333333;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  position: relative;
  margin-bottom: 23px;
  }

.form-main textarea{
    border-radius: 4px;
    box-shadow: 2px 2px 1px 0 rgba(212, 212, 212, 0.5);
    float: left;
    margin-top: 0px;
    width: 100%;
    background-color: #ffffff;
    height: 120px;
    line-height: 25px;
    padding-top: 10px;
    border: 0px;
    color: #333333;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    font-size: 16px;
    outline: none;
    position: relative;
    margin-bottom: 23px;
}

.form-main input[type="file"]{
height: auto;
line-height: inherit;
padding: 17px 20px;
}
  /*  new */

.select-wrapper{
        float: left;
        display: inline-block;
        /*border: 1px solid #d8d8d8; */           
        background: url("../images/icon-down-select-box.png") no-repeat right 26px top 28px transparent;
        cursor: pointer;
    }
    .select-wrapper, .select-wrapper select{
      border-radius: 4px;
  box-shadow: 2px 2px 1px 0 rgba(212, 212, 212, 0.5);
  float: left;
  margin-top: 0px;
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  line-height: 58px;
  border: 0px;
  color: #333333;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  position: relative;
  margin-bottom: 23px;
    }
    .select-wrapper:hover{
        /*background: url("dropdown-sprite.png") no-repeat right -26px transparent;*/
        /*border-color: #239fdb;*/
    }
    .select-wrapper .holder{
        display: block;
        margin: 0 35px 0 5px;
        white-space: nowrap;            
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    .select-wrapper select{
        margin: 0;
        position: absolute;
        z-index: 2;            
        cursor: pointer;
        outline: none;
        opacity: 0;
        /* CSS hacks for older browsers */
        _noFocusLine: expression(this.hideFocus=true); 
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }
.custom-select{
    padding-left: 0px;
    margin-top: 0px !important;
    margin-left: -18px !important;
}

 .form-main select option{
      padding: 8px 0px 8px 5px;
      
  }
  .form-main select option:hover{
      background-color: #2191d9 !important;
      color: #ffffff;
  }

/* New */

/* Start .squaredFour */
.checkbox{
  float: left;
  width: 100%;
  display: block;
  padding: 11px 0px 11px 0px;
}
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 0px 0px 0px 44px;
  margin-right: 0px;
  font-size: 13px;
  width: auto;
  float: none;
}
.checkbox input[type=radio],
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox label:before {
  content: "";
  display: inline-block;

  width: 25px;
  height: 25px;

  margin-right: 0px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ffffff;
  box-shadow: 2px 2px 1px 0 rgba(212, 212, 212, 0.5);
}

.radio label:before {
  border-radius: 8px;
}
.checkbox label {
  margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

.checkbox input[type=radio]:checked + label:before {
    content: "\2022";
    color: #2191d9;
    font-size: 30px;
    text-align: center;
    line-height: 25px;
     font-family: 'Roboto', sans-serif;
     font-weight: bold;

}

.checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);*/
  font-size: 17px;
  color: #2191d9;
  text-align: center;
    line-height: 23px;

}
.check-box-lable-text{
      color: #333333;
      font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 18px;
     text-align: left;
     width: auto;
    background-image: url("../images/quation-icon.png");
     background-position: 100% 0px;
     background-repeat: no-repeat;
     padding-bottom: 2px;
     margin-right: 10px;
    padding-right: 33px;
}
/* end .squaredFour */
.step-button-row{
  display: block;
  padding: 15px 0px 1px 0px;
  float: left;
  width: 100%;
}
.step-button-previous{
  float: left;
  width: auto;
}
.step-button-previous a{
     color: #333333;
      font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 20px;
     text-align: left;
     width: auto;
    background-image: url("../images/step-previous-arrow.png");
     background-position: 0% 8px;
     background-repeat: no-repeat;
     height: 26px;
     line-height: 26px;
     margin-right: 0px;
    padding-right: 0px;
    padding-left: 15px;
    display: block;
    margin-top: 8px;
  }
  .step-button-previous a:hover{
       background-image: url("../images/step-previous-arrow-hover.png");
       color: #2191d9;
  }
.step-button{
  float: right;
  width: auto;
}
.step-button a{
     color: #333333;
      font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 20px;
     text-align: left;
     width: auto;
    background-image: url("../images/step-next-arrow.png");
     background-position: 100% 8px;
     background-repeat: no-repeat;
     height: 26px;
     line-height: 26px;
     margin-right: 0px;
    padding-right: 15px;
    display: block;
    margin-top: 8px;
  }
  .step-button a:hover{
       background-image: url("../images/step-next-arrow-hover.png");
       color: #2191d9;
  }
  .step-button-1{
  float: right;
  width: auto;
}
.step-button-1 a{
     color: #333333;
      font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 20px;
     text-align: left;
     width: auto;
    background-image: url("../images/save-icon.png");
     background-position: 0% 0px;
     background-repeat: no-repeat;
     height: 46px;
     line-height: 46px;
     margin-right: 0px;
    padding-right: 0px;
    padding-left: 55px;
    display: block;
  }
  .step-button-1 a:hover{
       background-image: url("../images/save-icon-hover.png");
       color: #2191d9;
  }
.pagination-main{
  width: 100%;
  float: left;
  display: block;
  text-align: center;
  padding: 15px 0px
}
.pagination{
  width: auto;
  display: inline-block;
  text-align: center;
}
.pagination ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
  }
.pagination ul li{
  float: left;
  list-style-type: none;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  padding-top: 3px;
}
.pagination ul li a{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #898a8f;
    color: #898a8f;
    font-size: 13px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     text-align: center;
     line-height: 28px;
     text-decoration: none;
     display: inline-block;
  }
.pagination ul li a:hover{
   color: #2191d9;
   border: 1px solid #2191d9;
}
.pagination ul li a.avtive{
   color: #2191d9;
   border: 1px solid #2191d9;
}

.pagination ul li.page-pre {
  display: inline-block;
  margin-right: 10px;
}
.pagination ul li.page-pre a {
  background-image: url("../images/step-previous-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  color: #898a8f;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 30px;
}
     .pagination ul li.page-pre a:hover {
      background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-preview-arrow-hover-1.png");
   }
.pagination ul li.page-pre a.active {
     background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-preview-arrow-hover-1.png");
}

.pagination ul li.page-next {
 
  display: inline-block;
  margin-left: 5px;
 
  }
  .pagination ul li.page-next a {
   background-image: url("../images/step-next-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  color: #898a8f;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 30px;
  
  }
   .pagination ul li.page-next a:hover {
      background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-next-arrow-hover-1.png");
   }
.pagination ul li.page-next a.active {
     background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-next-arrow-hover-1.png");

}


/* comment */

/*
.pagination ul li.page-pre {
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
}
.pagination ul li.page-pre a {
   background-color: #ECECEC;
  border-radius: 4px;
  color:#898A8F;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  margin-top: 0px;
  padding: 0 15px 0px 31px;
  text-align: center;
  display: block;
  width: 100%;
   border:1px solid #dbdbdb;
   background-image: url("../images/step-previous-arrow.png");
     background-position: 15% 8px;
     background-repeat: no-repeat;

  }
     .pagination ul li.page-pre a:hover {
      background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-preview-arrow-hover-1.png");
   }
.pagination ul li.page-pre a.active {
     background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-preview-arrow-hover-1.png");
}

.pagination ul li.page-next {
 
  display: inline-block;
  margin-left: 5px;
  padding: 0px;
 
  }
  .pagination ul li.page-next a {
  background-color: #ECECEC;
  border-radius: 4px;
  color:#898A8F;
  text-decoration: none;
   font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 28px;
  margin-top: 0px;
  padding: 0 31px 0px 15px;
  text-align: center;
  display: block;
  width: 100%;
  border:1px solid #dbdbdb;
   background-image: url("../images/step-next-arrow.png");
     background-position: 82% 8px;
     background-repeat: no-repeat;
  }
   .pagination ul li.page-next a:hover {
      background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-next-arrow-hover-1.png");
   }
.pagination ul li.page-next a.active {
     background-color: #2191d9;
      color: #ffffff;
      border:1px solid #2191d9;
       background-image: url("../images/step-next-arrow-hover-1.png");

}*/

/* comment */

.register-height{
  position: relative;
  height: 800px;
  padding-bottom: 20px;
}
.register-height .right-form-section{
  padding-top: 0;

}
.forgot_pass {
  display: block;
  margin-left: 51px;
}
.forgot_pass a{
color: rgb(128, 128, 128);
}
.forgot_pass a:hover{
  opacity: 0.7;
 }
 .forgot_pass {
clear: both;
display: block;
float: right;
font-size: 12px;
margin-bottom: -30px;
margin-left: 0;
overflow: hidden;
padding-top: 10px;
text-align: right;
width: 100%;
}
.group-setion-col-img img{
  height: 121px;
  width: 121px;
  border-radius: 100%;
}


.default_content{

}
.default_content  h1{
color: #333333;
font-family: "Roboto",sans-serif;
font-size: 23px;
font-weight: 300;
line-height: normal;
margin-bottom: 24px;
padding: 0;
width: auto;
}
.default_content{
  color: rgb(96, 96, 96);
  font-family: Open Sans;
  font-size: 15px;
  
  padding: 0;
}
 .default_content p {
  margin: 0 0 20px;
}
.hover-icon a{
  display: inline-block;
}
.head_bak{
  float: left;
}
.head_bak a {
  margin-right: 10px;
  padding: 0 17px;
}

.buttons_right {
    position: absolute;
    right: 0;
}
.user_slider{
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
  padding: 25px;
  margin: 0;
  background: #FFF;
  font-family: Roboto;
  font-size: 16px;
  color: #3d3e42;
}
.user_slide img {
  border-radius: 100%;
  height: 150px;
  margin-bottom: 10px;
  width: 150px;
}
.user_slide {
padding-bottom: 10px;
text-align: center;
}
.user_name strong {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.cmpny_info_slide{
  text-align: left;
}
.cmpny_info_slide img{
 border-radius: 0;
height: auto;
max-width: 230px;
width: auto;

}
.cmpny_info_slide {
 font-size: 15px;
line-height: 25px;
}
.cmpny_info_slide a{
  color: #1683ca;
}
.max_width{
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.user_slider .owl-buttons > div {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/arrow-left-h.png");
  background-position: 0 0;
  background-size: auto 100%;
  border-radius: 0;
  float: left;
  height: 17px;
  margin: 15px 0 0;
  padding: 0;
  width: 42px;
    overflow: hidden;
    vertical-align: middle;
        color: rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 0;
    background-repeat: no-repeat;
}
.user_slider .owl-buttons > div.owl-next {
  background-image: url("../images/arrow-right-h.png");
  float: right;
  background-position: center right;
}
#member_detail_section .owl-buttons > div.owl-next:hover {
  background-image: url("../images/arrow-right.png");
}
#member_detail_section .owl-buttons > div.owl-prev:hover {
  background-image: url("../images/arrow-left.png");
}
i.icon_style {
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: inline-block;
  height: 52px;
  margin-right: 14px;
  vertical-align: middle;
  width: 52px;
}
.second_menu ul li a i{
  background-image: url("../images/no_media_icon_hover.png");
}
.second_menu ul li a i {
  display: block;
  margin: 0 auto 10px;
}
.second_menu ul li a {
  color: #2191d9;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.second_menu ul li {
  float: left;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
.second_menu {
  clear: both;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  vertical-align: top;
}
.nav_in_manage{
  clear: both;
  display: block;
  text-align: center;
  overflow: hidden;

}
.nav_in_manage {
  clear: none;
  float: left;
  margin-top: -26px;
  max-width: 100%;
  text-align: center;
  width: 100%;
}
.show_manage_menu {
background: #ffffff none repeat scroll 0 0;
border: 2px solid #e0e0e0;
border-radius: 100%;
display: inline-block;
height: 50px;
line-height: 48px;
margin-top: 0;
padding: 10px;
width: 50px;
}
.line {
  background: #b0b0b0 none repeat scroll 0 0;
  border-radius: 6px;
  display: block;
  height: 3px;
  margin: 4px 0;
   transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;

}

.open_item .line,
.close_box > span
{
  position: relative;
  top: 7px;
  transform: rotate(45deg);
  -webkit-transform:  rotate(45deg);
  -moz-transform:  rotate(45deg);
  -ms-transform:  rotate(45deg);
  -o-transform:  rotate(45deg);
}
.open_item .line3,
.close_box > span.row_line2{
  left: 0;
  position: relative;
  top: 0;
    transform: rotate(-45deg);
  -webkit-transform:  rotate(-45deg);
  -moz-transform:  rotate(-45deg);
  -ms-transform:  rotate(-45deg);
  -o-transform:  rotate(-45deg);
}
.open_item .line2{
  display: none;
}
.three_col1{
  float: left;
  width: 33.33%;
  padding: 0 15px 30px;


}
.minous_col{
margin: 0 -15px -10px;
position: relative;
}
.app_sc{
  position: relative;
  overflow: hidden;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 0 rgba(212, 212, 212, 0.5);
  
}
.title_box{
background: rgba(23, 131, 203, 0.8) none repeat scroll 0 0;
color: rgb(255, 255, 255);
font-size: 23px;
font-weight: bold;
height: 100%;
left: 0;
position: absolute;
text-align: center;
top: auto;
opacity: 0;
visibility: hidden;
bottom: 0;
width: 100%;
cursor: pointer;
 transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-ms-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
}
.three_col1:hover .title_box{
opacity: 1;
visibility: visible;
}

.ds_table{
  display: table;
  width: 100%;
  height: 100%;
}
.ds_cell{
  display: table-cell;
  vertical-align: middle;
}

.plus_icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../images/play.png") left top no-repeat;
  display: table;
  margin: 0 auto;
}

.plus_icon:hover{
  opacity: 0.9;
}
.app_screnshot {
  /*background: rgb(245, 245, 245) none repeat scroll 0 0;*/
  clear: both;
  padding: 50px 20px 30px;
}
.popup_litebox{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #F5F5F5;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 0 rgba(212, 212, 212, 0.5);

}
.popup_litebox .view_iamge{
  vertical-align: bottom;
width: 41%;

}
.cont_detail{
  vertical-align: middle;
}
.cont_detail p{
  margin-bottom: 20px;
}
.cont_detail h1 {
  margin-bottom: 15px;
}

.close_box{
cursor: pointer;
height: 40px;
position: absolute;
right: -6px;
top: -30px;
width: 35px;
}

.close_box > span{
  display: block;
  height: 2px;
  margin: 3px;
  background: #1783CB;
}
.close_box > span.row_l{
  top: 5px;
}

.app_screnshot::after {
  clear: both;
  content: "";
  display: block;
}

body .fancybox-opened .fancybox-skin{
  box-shadow: none;
}
body .fancybox-overlay {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
}
body .fancybox-inner {
  background: #f5f5f5 none repeat scroll 0 0;
  
}
body .fancybox-outer {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.enterTitle h1 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 16px;
}
.enterTitle b {
color: #2191d9;
float: left;
font-weight: normal;
margin-right: 7px;
width: 140px;
}
.subRow {
  display: block;
  margin-bottom: 10px;
}
.enterTitle > p {
color: #606060;
font-family: Roboto;
font-weight: bold;
overflow: hidden;
}
.enterTitle > span{
  display: none;
}
.fullview_clients .group-setion{
  padding: 0;
}
.video_title {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 6px;
}
.new-structure1 .map_div {
    float: right;
    height: 250px;
    width: 48%;
}
.new-structure1 {
  float: left;
  width: 100%;
}

.container.step-page-section img {
  float: left;
  width: 48%;
}
.container.step-page-section #contact_us {
  float: right;
  width: 48%;
} 
.container.step-page-section #contact_us input[type="text"] ,
.container.step-page-section #contact_us textarea{
    box-shadow: none;
    font-size: 14px;
    line-height: 17px;
    height: 35px;
}
.container.step-page-section #contact_us label {
  padding: 0;
  font-size: 15px;
}
.container.step-page-section #contact_us textarea {
  height: 90px;
}

.container.step-page-section #contact_us .step-button-1 a {
  background-color: #2191d9;
  background-image: none;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  line-height: 38px;
  margin-top: 10px;
  padding: 4px 20px;
  text-align: center;
  text-transform: capitalize;
  width: auto;
}
.container.step-page-section #contact_us .form-main {
  width: 100%;
}

.new-address1 {
  float: left;
  width: 48%;
  text-align: center;
}
.new-address1 p b {
  font-weight: bold;
  display: inline-block;
  margin: 0 0 10px 0;
}
.new-address1 p {
  color: #606060;
    font-family: Open Sans;
    font-size: 16px;
}
.new-structure1 img{
  width: 48%;
  float: left;
}

.abt_profile {
  float: left;
  width: 100%;
}
.abt_profile ul {
  text-align: center;
}
.abt_profile ul li img {
  margin: 0 0 10px 0;
}
.abt_profile ul li {
  display: inline-block;
  margin: 0 1.5% 0 1.5%;
}
.abt_profile ul li p span {
  display: block;
  font-weight: normal;
}
.oppo ul li {
    list-style: inside none disc;
}
.abt_profile ul li p {
  font-weight: bold;
}

#chartContainer{
  margin-bottom: 20px;
  clear: both;
}
.teamLists {
  clear: both;
  display: block;
  padding-bottom: 20px;
}
.teamLists ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.teamLists ul li{
clear: both;
margin-bottom: 15px;
overflow: hidden;

}
.teamLists ul li img{
border-radius: 100%;
float: left;
height: 70px;
margin-right: 20px;
width: 70px !important;

}
.teamLists ul li .user_cont{
border-bottom: 1px solid #e0e0e0;
display: block;
overflow: hidden;
padding-bottom: 15px;
}
.teamLists ul li:last-child .user_cont{
  border: none;
}
.teamLists ul li .user_cont h2{
color: #505050;
font-size: 15px;
font-weight: 700;
margin-bottom: 4px;
}
.teamLists ul li .user_cont .name_user{
  color: #1682CA;
  font-size: 14px;
  margin-bottom: 4px;
}
.teamLists ul li .user_cont p{  
  font-size: 13px;
  max-width: 620px;
}
.responce_title  h1{
  padding-top: 13px;
}


.add_new_option{
background-image: url("../images/pluse-icon.png");
}
.add_new_option:hover{
background-image: url("../images/pluse-hover.png");
color: #1783CB;
}
.remove_new_option{
background-image: url("../images/delete-icon-n.png");
  }
.remove_new_option:hover{
background-image: url("../images/delete-icon.png");
color: #1783CB;
  }
  .add_new_option,
  .remove_new_option {
  background-position: left center;
  background-size: 30px auto;
  color: #707070  ;
  font-size: 15px;
  height: 30px;
  line-height: 29px;
  padding-left: 40px;
  width: auto;
   margin-bottom: 12px;
}
.remove_new_option {
bottom: 0;
float: right;
font-size: 0;
padding-left: 30px;
position: relative;
right: auto;
}
#TextBoxesGroup label {
  width: auto;
}
.followers_div {
    margin-top: 12px;
    color: white;
}
.followers_span_total {
    font-weight: bold;
}