/* common css */
html, * {
	margin: 0;
	padding: 0;
}
body {
	background: none repeat scroll 0 0 #fff;
	border-width: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	margin: 0;
	padding: 0;
	top: 0;
	vertical-align:top;
}
div, a, input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="button"], input[type="reset"], img, ul, ul li, ol, li, ol li, table, tr, td, h1, h2, h3, h4, h5, h6, textarea {
	background:none;
	border: medium none;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align:top;
}
input, textarea, select {
	box-shadow:none;
	outline: medium none;
	font-family: 'Open Sans', sans-serif;
}
input:focus, textarea:focus, select:focus, a:focus, select {
	outline: medium none;
	box-shadow:none;
}
ul, ul li, ol, li, ol li {
	list-style: none;
}
p {
}
a, input[type="submit"], input[type="button"], input[type="reset"] {
	cursor: pointer;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.w {
	width: 100%;
}
.clearb, .cl, .clr {
	clear: both;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
	-webkit-appearance:none;
	background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    text-indent:0px;
    font-size:13px;
    color:#666;
    height: 18px;
    width:91.5%;
    padding:10px 4%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;  
}
input[type="submit"], input[type="button"], input[type="reset"] {
	-webkit-appearance:none;
}

body {
	background:url(../../images/page_bg.jpg) 50% 0% repeat;
}
body.login-screen {
	background:url(../../images/login_bg.jpg) 50% 0% repeat;
}

#header {
	background:url(../../images/header-bg.png) 0% 0% repeat-x;
	min-height:123px;
	width:100%;
	position:relative;
}
.login-screen #header {
	background:url(../../images/header-bg-login.png) 0% 0% repeat-x;
	min-height:144px;
}
.logo {
	width:120px;
	margin:0 auto;
	padding:20px 0 0 0;
}
.login-screen .logo {
	padding:30px 0 0 0;
}
.but_sty1 {
	background:url(../../images/but_sty1.png) 0% 0% no-repeat;
	width:107px;
	font-family:Open Sans;
	font-size:13px;
	font-weight:400;
	font-style:italic;
	color:#fff;
	line-height:28px;
	text-align:center;
	position:absolute;
	left:50%;
	margin-left:-53px;
	bottom:-14px;
}
.login-box {
	max-width:355px;
	margin:179px auto 160px auto;
	position:relative;
	background:#e9edf2;
	min-height:360px;
	border-radius:6px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    -ms-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
}
.login_box_icon {
	width:96px;
	position:absolute;
	left:50%;
	margin-left:-48px;
	top:-52px;
}

#footer {
	background:url(../../images/footer_bg.png) 50% 0% repeat-x;
	min-height:57px;
}
.login-screen #footer {
	background:url(../../images/footer_bg_login.png) 50% 0% repeat-x;
}
.copyrights {
	text-align:center;
	font-family:Open Sans;
	font-size:13px;
	font-weight:400;
	color:#333e47;
	line-height:27px;
	padding:15px 0;
}
.login-screen .copyrights {
	color:#fff;
}
.copyrights span {
	font-weight:600;
	font-style:italic;
}
.login_title {
	font-family:Open Sans;
	font-size:20px;
	font-weight:700;
	color:#666666;
	text-align:center;
	padding:48px 0 18px 0;
	border-bottom:1px solid #d6d8db;
}
.login_form {
	border-top:1px solid #f8fafb;
}
.login_form_inner {
	padding:30px 35px;
}
.user_pass {
	background:#f2f2f2;
	border-radius:6px;
	border:1px solid #d4d4d4;
}
.user_pass .inputText {
	height:45px;
	padding-left:40px;
}
.user_pass .inputText input {
	height:18px;
    padding:13px 0;
	border:none;
	background:none;
	outline:none;
	width:100%;
	font-size:14px;
    box-shadow: none;
    text-indent:5px;
}
.inputText.username {
	background:url(../../images/username.png) 13px 13px no-repeat;
	border-bottom:1px solid #e9e9e9;
}
.inputText.password {
	background:url(../../images/password.png) 13px 13px no-repeat;
	border-top:1px solid #f6f6f6;
}
.reme_forg {
	padding:17px 0;
	font-family:Open Sans;
	font-size:13px;
	line-height:18px;
	font-weight:400;
	color:#9393a7;
}
.remember {
	float:left;
}
.remember input {
	padding:0px;
	margin:-3px 0 0 0px;
	vertical-align:middle;
    width:auto;
    height:auto;
}
.remember label {
	padding:0 0 0 0px;
	display:inline-block;
    font-size:13px;
    color:#9393a7;
    line-height:22px;
}
.forgot {
	float:right;
}
.forgot a {
	color:#999999;
	font-size:12px;
	font-weight:700;
}
.but_login {
	
}
.but_login input[type="submit"] {
	/*background:url(../../images/login_but.png) 0% 0% no-repeat;*/
	background-size:100% 100%;
	width:100%;
	padding:0px 0 2px 0;
	margin:0px;
	height:50px;
	color:#fff;
	font-size:20px;
}

#page {
	max-width:1060px;
	margin:0 auto;
	padding:35px 0;
	min-height:400px;
}

ul.tab_links {
	float:none;
	display:table;
	width:100%;
}
ul.tab_links li {
	float:none;
	display:table-cell;
}
ul.tab_links li.tab_link {
	width:50px;
	font-family:Open Sans;
	font-size:15px;
	font-weight:400;
	color:#666666;
}
ul.tab_links .tab_link_active {
	background:#e7edf2;
	margin:0 0 0 0;
	height:100%;
	border-radius:6px 6px 0 0;
	border-bottom:1px solid #d5d8db;
    overflow:hidden;
}
ul.tab_links li.tab_link a {
	background:#e7edf2;
	display:block;
	color:#666666;
	line-height:20px;
	padding:20px 20px;
	margin:0 0 0 4px;
	border-radius:6px 6px 0 0;
}
ul.tab_links li.tab_link a.active {
	background: #339dff;
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
	color:#fff;
}

.tab_content_holder {
	background:#e7edf2;
	border-radius:0 0 6px 6px;
}
ul.tab_links .tab_link_active h1 {
	padding:20px 0 19px 0;
	margin:0px;
	line-height:20px;
	font-family:Open Sans;
	font-size:19px;
	font-weight:700;
	color:#666666;
    display:inline-block;
}
.tab_content_holder_inner {
	padding:25px;
}
.tab_link_active span {
    background:#99c4a0;
    float: left;
    padding:13px 17px;
    margin-right:18px; 
}
.first-col.dir {
    width:26%;           
}
.middle-col.dir {
    width:22%;           
}
.last-col.dir {
    width:48%;
    max-width:none;           
}
.last-col.dir .main-row.city {
    width:57%;
}
.last-col.dir .main-row.zip {
    width:38%;
}
.first-col {
    max-width:348px;
    width:34.5%;
    float:left;                                  
}
.middle-col {
    max-width:260px;
    width:25.7%;
    float:left;
    margin:0 1.6%;                                  
}
.last-col {
    max-width:364px;
    width:36%;
    float:left;                                  
}
label {
    display:block; 
    color:#666666;
    font-size:14px; 
    padding-bottom:9px; 
}
.main-row {
    float: left;
    width: 100%;
    margin-bottom:1.3em;
}
.main-row.city {    
    margin-right: 4.7%;
    width: 44%;
}
.main-row.zip {    
    width:51%;    
}
.main-row.email {    
    margin-right: 4.7%;
    width:59%;
}
.main-row.search {    
   /* width:36%;*/    
   width: 100%;
}
input[type="radio"] {
    width:auto; 
    float:left; 
    height:auto; 
    line-height:normal; 
    margin:0px;
    padding:0;            
}
input {
    background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    height: 38px;
    width:99.5%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;  
}
input[type="submit"],
input[type="reset"] {
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
    border:1px solid #226aac;
    box-shadow: 0 0 5px -1px #226aac inset; 
    font-weight: normal;
    height: 38px;
    font-size:15px;
    width:auto;
    padding:0 16px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;    
}
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: -moz-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -o-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -ms-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: linear-gradient(to bottom, #1060c0 0%, #339dff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1060c0', endColorstr='#339dff', GradientType=0);
    border:1px solid #226aac;
    box-shadow: 0 0 5px -1px #226aac inset; 
}
input[type="button"] {
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
    border:1px solid #226aac;
    box-shadow: 0 0 5px -1px #226aac inset; 
    font-weight: normal;
    height: 38px;
    font-size:15px;
    width:auto;
    padding:0 16px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;    
}
input[type="button"]:hover {
	background: -moz-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -o-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -ms-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: linear-gradient(to bottom, #1060c0 0%, #339dff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1060c0', endColorstr='#339dff', GradientType=0);
    border:1px solid #226aac;
    box-shadow: 0 0 5px -1px #226aac inset; 
}
.main-row.search input[type="submit"],input[type="reset"] {
   /* width:99.7%; */            
   width: auto;
}
.tab_content_holder label {
    padding-bottom:9px;                   
}
.sbHolder {
    background-color: #f2f2f2;
    border: 1px solid #cecfd1;
    font-weight: normal;
    font-size:13px;
    height: 38px;
    position: relative;
    width:99.5%;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.15) inset;
}
.sbHolder:focus .sbSelector {
    outline:none;            
}
.sbSelector {
    display: block;
    height: 38px;
    left: 0;
    line-height: 38px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-indent: 10px;
    top: 0;
    width: 100%;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    color: #666666;
    outline: medium none;
    text-decoration: none;
}
.sbToggle {
    background: url(../../images/select-arrow.png) no-repeat left top;
    display: block;
    height:40px;
    outline: medium none;
    position: absolute;
    right: -1px;
    top: -1px;
    width:40px;
    z-index: 11;
}
.sbToggleOpen {
    background: url(../../images/select-arrow.png) no-repeat left top;
}
.sbHolderDisabled {
}
.sbHolderDisabled .sbHolder {
}
.sbHolderDisabled .sbToggle {
}
.sbOptions {
    background-color: #f2f2f2;
    left: 0;
    list-style: none outside none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 39px;
    width: 100%;
    z-index: 12;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow:0 0 3px 0 #9D9D9D;
	-moz-box-shadow:0 0 3px 0 #9D9D9D;
    -ms-box-shadow:0 0 3px 0 #9D9D9D;
	box-shadow:0 0 3px 0 #9D9D9D;
}
.sbOptions li {
    padding: 0 7px;
    font-size:13px;
}
.sbOptions a {
    border-bottom: 1px solid #E4E6E8;
    display: block;
    outline: medium none;
    padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited {
    color: #666666;
    text-decoration: none;
}
.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
    color: #000;
}
.sbOptions li.last a {
    border-bottom: medium none;
}
.sbOptions .sbDisabled {
    border-bottom: 1px dotted #515151;
    color: #000;
    display: block;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup {
    border-bottom: 1px dotted #515151;
    color: #666666;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}
.sbOptions .sbSub {
    padding-left: 17px;
}
.shorting {
    float: left;
    padding: 11px 0 9px;
    width: 100%;
}
.shorting ul {
    margin:0px;
    padding:6px 0 0 0;
    float:left;      
}
.shorting ul li {
    margin:0px;
    padding:0px;
    float:left;      
}
.shorting ul li a {
    margin:0px 2px 0 0;
    padding:6px 9px 7px 10px;
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    line-height:12px;
    float:left;     
}
.shorting ul li a.active, .shorting ul li a:hover {
    background:#99C4A0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;      
}
.export {
    float:right;
    padding-right:1px; 
    margin-left:5px; 
}
.tab_content_holder.second {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    overflow:hidden;                            
}
.tab_content_holder.directory .tab_content_holder_inner {
    padding:25px;
}
.tab_content_holder.directory {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    margin-top:30px;
    overflow:hidden;       
}
.tab_content_holder_inner table {
    border-bottom: 1px solid #d7d9db;
}
table tr {
    background:#e7eff4;
}
table tr.light {
    background:#f2f5f7;
}
.tab_content_holder table tr th label {
    padding-bottom:0px;
    color:#fff;
}
.tab_content_holder table tr th img {
    padding-top:10px;
    float:right;
}
table tr th {
    /*border-right:1px solid #d7d9db;*/
    background: -moz-linear-gradient(top, #A8D5AF 0%, #8CB793 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #A8D5AF), color-stop(100%, #8CB793));
	background: -webkit-linear-gradient(top, #A8D5AF 0%, #8CB793 100%);
	background: -o-linear-gradient(top, #A8D5AF 0%, #8CB793 100%);
	background: -ms-linear-gradient(top, #A8D5AF 0%, #8CB793 100%);
	background: linear-gradient(to bottom, #A8D5AF 0%, #8CB793 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A8D5AF', endColorstr='#8CB793', GradientType=0);
    border-right:1px solid #ACD9B3;
    padding:16px 10px 15px 10px;
    font-weight:500;
    color:#fff;
    font-size:14px;
    line-height:24px;
    text-align:left;
}
table tr td {
    border-right:1px solid #d7d9db;
    padding:16px 1px 15px 10px;
    font-weight:500;
    color:#666666;
    font-size:12px;
    line-height:24px;
    text-align:left;
}
table tr td a {
    text-decoration:none;  
    color:#666666;
}
table tr td a:hover {
    text-decoration:none;  
    color:#000;
}
.paging {
    float: left;
    padding:10px 0 15px;
    width: 100%;
}
.paging ul {
    margin:0px;
    padding:6px 20px 0 0;
    float:right;      
}
.paging ul li {
    margin:0px;
    padding:0px;
    float:left;      
}
.paging ul li a {
    margin:0px 0 0 2px;
    padding:6px 9px 7px 10px;
    font-size:12px;
    text-transform:uppercase;
    color:#666666;
    line-height:12px;
    float:left;     
}
.paging ul li a.active, .paging ul li a:hover {
    background: #339dff;
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px; 
    color:#fff;     
}
ul.tab_links .tab_link_active.inner {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;  
    margin-bottom:0px;
    border-bottom:none;                     
}
.block-part {
    float:left;
    margin:0px 0 0 -2.4%;
    padding:0px;
    width:102.4%;      
}
.block-part.normal {
    margin-left:0px;
    width:100%;               
}
h1 {
    color: #666666;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding:0px 0 0px;        
}
.block-part > h1 {
    padding-bottom:20px;
    margin-left:3%;
}
.block-part .main-row input[type="submit"] {
    width:auto;
    padding: 0 16px;
    min-width: 130px;
}
.block-part .main-row input[type="submit"] {
    width:auto;
    padding: 0 16px;
}
.listing-view {
    float:left;
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_content_holder.second .tab_content_holder_inner {padding:0px;}
.block-part .main-row {
    margin-left: 3%;
    min-height:96px;
    width: 30%;
    margin-bottom:0px;
}
.view {
    float: right;
    padding: 10px 10px 0 0;
}
.no-record{
    display:block; 
    padding:20px 20px 30px 20px;
    font-size:15px;      
}
label.error {
    color: #FF0000;
    font-size: 13px;
    font-weight: normal;
    padding-bottom:0px;
}
.inputText.username label.error, .inputText.password label.error {
    display:block; 
    text-indent:-9999em;        
}
.user_pass .inputText input.error {
    border:1px solid #ff0000;       
}
.log-out {
    float: right;
    margin-right: 10.5%;
}
.log-out a {
    text-decoration:none;    
    line-height: 14px;
    padding:8px 16px 11px;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;  
    float:right;
    background: #339dff;
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
	color:#fff;
}
.log-out a:hover {
    background: -moz-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -o-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -ms-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: linear-gradient(to bottom, #1060c0 0%, #339dff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1060c0', endColorstr='#339dff', GradientType=0);
}
.fancybox-inner {
    background:#E7EDF2;
}
.fullview_clients {
    float:left;
    width:100%;
    min-width:600px;    
}
.subRow {
    display:block;  
}
.subRow.light {
    background:#F2F5F7; 
}
.enterTitle {
    display:block;
    padding:16px;
    border-top:1px solid #D7D9DB;
}
.enterTitle.main h1 {
    color:#fff;             
}
.enterTitle.main {
    background: #339dff;
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
	color:#fff;
    border-top:none;             
	position:relative;
}
.enterTitle b {
    display: inline-block;
    width: 28%;   
    font-weight:600;
    font-size:14px;
    vertical-align: top;
}
.enterTitle span {
    display: inline-block;
    width: 6%;
    vertical-align: top;
}
.enterTitle p {
    display: inline-block;
    width: 50%;
    font-size:13px;
    vertical-align: top;
}
.enterTitle p a {
    text-decoration:none;
    color:#666;       
}
.enterTitle p a:hover {
    color:#000;      
}
.list-contact {
	border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px; 
    display: block;
    margin: 16px;
	overflow:hidden;
}
.list-contact table {
    border-left: 1px solid #D7D9DB;
	border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px; 
}
.list-contact table tr td {
	border-bottom: 1px solid #D7D9DB;
	padding:10px;
}
.list-contact table tr th {
	padding:10px;
    background:none;
    border-bottom:1px solid #D7D9DB;
    border-right:1px solid #D7D9DB;
    color:#666666;
    
}
.list-contact .no-records {
    border: 1px solid #D7D9DB;
    border-radius: 0 0 6px 6px;
    display: block;
    font-size: 15px;
    padding: 10px;
}




.alert-box {	
    background: none;
	border-radius:6px;
	-webkit-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
    /*box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);*/
    margin: 0 auto 0;
    min-width: 320px;
    position: relative;
	overflow:hidden;
}
.error-title {
	background: #339dff;
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
	color:#fff;
	padding:16px;
	/*border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-ms-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;*/
}
.error-title span {
	display:inline-block;
	color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
	padding-left:10px;
}
.error-title a.close {
	height: 34px;
    position: absolute;
    right: 4px;
    top: 10px;
    width: 38px;
	background: url(../../images/fancybox_sprite.png) no-repeat left top;
}
.error-txt {
	font-size:15px;
	color:#333;
	padding:20px 16px;
	line-height:20px;
	text-align:center;
}
.button-div {
	float:left;
	width:100%;
	margin:0px 0 1.6em 0;
	padding:0px;
	text-align:center;
}
.button-div a {
	display:inline-block;
	min-width:100px;
	padding:10px 0;
	margin:0 5px;
	color:#fff;
	font-size:15px;
	line-height:15px;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	background: #339dff;
	background: -moz-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #339dff), color-stop(100%, #1060c0));
	background: -webkit-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -o-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: -ms-linear-gradient(top, #339dff 0%, #1060c0 100%);
	background: linear-gradient(to bottom, #339dff 0%, #1060c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339dff', endColorstr='#1060c0', GradientType=0);
}
.button-div a:hover {
	background: -moz-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #1060c0), color-stop(100%, #339dff));
	background: -webkit-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -o-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: -ms-linear-gradient(top, #1060c0 0%, #339dff 100%);
	background: linear-gradient(to bottom, #1060c0 0%, #339dff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1060c0', endColorstr='#339dff', GradientType=0);
}
label span.required_icon {
    color: #FF0000;
    font-size: 9px;
    vertical-align: top;
}
.show-hide {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 16px;
}
.show-hide h1 {
    display: inline-block;
    line-height: 38px;
    padding-left: 5px;
}
.show-hide a {
    color: #8CB793;
    float: right;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    position: relative;
}
.block-part.top {
    margin-top: 16px;
}
.tab_content_holder.directory .tab_content_holder_inner.small {
    padding: 10px;
}
.tab_content_holder .radio-label {
    margin:-3px 15px 0 5px;
    padding:0;
    float:left;
}
a.ui-button {
    background: url(../../images/select-arrow.png) no-repeat left top;
}
.fromdate {
    float: left;
    width:45%;
}
.todate {
    float: right;
    width:45%;
}
.border-txt {
    border: 1px solid #C8CED3;
    margin-top: 0px;
    padding:12px 12px 4px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/*.border-txt {
    border: 1px solid #C8CED3;
    margin-top: 0px;
    padding:35px 12px 4px 20px;
}*/
.serviceTxt {
    background: none repeat scroll 0 0 #e7edf2;
    color: #8b8b8b;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 0px;
    padding: 0 0 10px 0;
    width: auto;
    position: relative;
}
.serviceTxt span {
    position: absolute;
    right: 0;
    top: -1px;
    width: 29px;
    height: 28px;
    background: url(../../images/equale.png) no-repeat left top;
}
/*.serviceTxt {
    background: none repeat scroll 0 0 #E7EDF2;
    color: #8B8B8B;
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: -52px 0 0 6px;
    padding: 4px 5px;
    width: auto;      
}*/

.new_full_roow .main-row {
    width: 47%;
}